<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
        </ion-buttons>
        <p style="padding-left: 10px; font-weight: 500;">Address</p>
   
  </ion-toolbar>
  </ion-header>
<ion-content   >
    <ion-item-divider   style="width: 100%;" style="background-color: #ff3e6c;margin-top:10%; ">
        <ion-label style="color: #fff; font-weight: 500;margin-left: 25%;">
        Enter Delivery Address
        </ion-label>
      </ion-item-divider>
  <ion-item style="width:100%" color="white"  lines="full"  >
  
    

    <ion-list color="arvi" lines="full" class="ion-no-margin ion-no-padding" style="font-weight: 400; width: 100%;">
     
      
    <ion-item color="white">
    <ion-label position="floating" >Name</ion-label>
    <ion-input  [(ngModel)]="useraddress.first_name" type="text" ></ion-input>
    </ion-item>
    
    <ion-item color="white">
    <ion-label position="floating">Address</ion-label>
    <ion-input  [(ngModel)]="useraddress.address_1" type="text" required></ion-input>
    </ion-item>
    <ion-item color="white">
    <ion-label position="floating">City</ion-label>
    <ion-input  [(ngModel)]="useraddress.city" type="text" required></ion-input>
    </ion-item>
    <ion-item color="white">
    <ion-label position="floating">Postcode</ion-label>
    <ion-input  [(ngModel)]="useraddress.postcode" type="text" required></ion-input>
    </ion-item> 
    <ion-item  color="white">
    <ion-label>State</ion-label>
    <ion-select slot="end" placeholder="Select One" interface="popover" [(ngModel)]="useraddress.state">
      <ion-select-option selected  value="TN">Tamil Nadu</ion-select-option>
      <ion-select-option >kerala</ion-select-option>
      <ion-select-option >Karnataka</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item color="white">
    <ion-label>Country</ion-label>
    <ion-select slot="end" placeholder="Select One" interface="popover"  [(ngModel)]="useraddress.country">
      <ion-select-option selected >India</ion-select-option>
      <ion-select-option >UK</ion-select-option>
      <ion-select-option >USA</ion-select-option>
    </ion-select>
    </ion-item>
    </ion-list>
    </ion-item>


 </ion-content>
 <ion-footer style="text-align: center; background-color: #ff3e6c;" >
    <ion-button  color="myred" (click)="sendnewaddress()">Continue</ion-button>
  
</ion-footer>








<!-- <ion-card >
  <ion-item-divider   style="width: 100%;" style="background-color: #6068da80;">
      <ion-label style="color: #fff; font-weight: 500;">
      Enter Delivery Address
      </ion-label>
    </ion-item-divider>

<ion-list color="arvi" lines="full" class="ion-no-margin ion-no-padding" style="font-weight: 400;">

<ion-item>
  <ion-label position="floating" >Name</ion-label>
  <ion-input  [(ngModel)]="useraddress.first_name" type="text" ></ion-input>
</ion-item>

<ion-item>
 <ion-label position="floating">Address</ion-label>
  <ion-input  [(ngModel)]="useraddress.address_1" type="text" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">City</ion-label>
  <ion-input  [(ngModel)]="useraddress.city" type="text" required></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Postcode</ion-label>
  <ion-input  [(ngModel)]="useraddress.postcode" type="text" required></ion-input>
</ion-item> 

<ion-item style="margin-top: 10px;">
  <ion-label>State</ion-label>
  <ion-select placeholder="Select One" interface="popover" [(ngModel)]="useraddress.state">
    <ion-select-option selected  value="TN">Tamil Nadu</ion-select-option>
    <ion-select-option >kerala</ion-select-option>
    <ion-select-option >Karnataka</ion-select-option>
  </ion-select>
</ion-item>
<ion-item style="margin-top: 10px;">
  <ion-label>Country</ion-label>
  <ion-select placeholder="Select One" interface="popover"  [(ngModel)]="useraddress.country">
    <ion-select-option selected >India</ion-select-option>
    <ion-select-option >UK</ion-select-option>
    <ion-select-option >USA</ion-select-option>
  </ion-select>
</ion-item>
</ion-list>
<br>

</ion-card> -->