<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
        </ion-buttons>
    <ion-title>contactus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
    <ion-list>
        <ion-item style="width:100%" color="white"  lines="none"  >
         <img src="assets/mmlogo.png" alt="" style="margin-left: 25%;">
        </ion-item>
      
        <ion-item lines="none" color="white">
            <ion-label>
         Get In Touch
            </ion-label>
          </ion-item>
            <ion-item lines="none" color="white"  >
          <ion-label style="padding-left: 10%;">
              Phone: +91 91761 48080

          </ion-label>
            </ion-item>
          <ion-item lines="none" color="white" >
          <ion-label style="padding-left: 10%;">
              Email: support@mmsilks.com

          </ion-label>
        </ion-item>

        <ion-item lines="none" color="white">
            <ion-label>
         Address
            </ion-label>
          </ion-item>
            <ion-item lines="none" color="white"  >
          <ion-label style="padding-left: 10%;">
              116/1, Anna Salai, 

          </ion-label>
            </ion-item>
            <ion-item lines="none" color="white"  >
                <ion-label style="padding-left: 10%;">
                    Near Chellammal Women’s College,
      
                </ion-label>
                  </ion-item>
          <ion-item lines="none" color="white" >
          <ion-label style="padding-left: 10%;">
              Behind IDBI Bank Saidapet, 
              

          </ion-label>
        </ion-item>
        <ion-item lines="none" color="white" >
            <ion-label style="padding-left: 10%;">
                Chennai – 600 015.
  
            </ion-label>
          </ion-item>

        </ion-list>
</ion-content>
