<div class="flex">
  <!-- <ion-card class="categorythree"  style="margin-bottom: 6%; height: 250px; background-size: cover; "

    [ngStyle]="{ 'background-image': 'url(https://mmsilks.com/wp-content/uploads/2019/11/181122233014_0011-300x300.jpg)'} ">

    <ion-buttons>

      <ion-icon class="heart" name="heart-outline"></ion-icon>


    </ion-buttons>
    <button ion-button icon-only class="cart">
      <ion-icon style="padding: 10px;" name="md-cart"></ion-icon>
    </button>
    <p style=" position: absolute;  top: 70%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600; ">
      Saree</p>
    <p style=" position: absolute; top: 80%;  margin-left: 5%; color: #fff; font-size: 15px;">This is the category
      of product</p>
    <p style=" position: absolute; top: 40%; margin-left: 2%; color: #fff; font-size: 15px;">Rs-1222</p>
  </ion-card> -->
  <app-forproductlist>

  </app-forproductlist>
   <app-forproductlist>

  </app-forproductlist> 
  <app-forproductlist>

  </app-forproductlist>
   <app-forproductlist>

  </app-forproductlist>
</div>

