<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
        </ion-buttons>
    <ion-title>mmprofile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/landing.jpg" alt="">
</ion-content>
