<ion-header>
  <ion-toolbar>
    <ion-title>bookingdetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="wrapper">
        <fiv-stepper #stepperV [mode]="'vertical'" (fivClick)="stepperV.open($event)">
          <fiv-step [title]="'Booked'" [subtitle]="'Completed'">
           <ion-card color="newblue" >
              <ion-card-header>
                <ion-card-subtitle>Booking confirmed</ion-card-subtitle>
                <ion-card-title></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Waiting for the inspection.
              </ion-card-content>
              <ion-toolbar>
                <ion-buttons slot="end">
                  
                  <ion-button color="primary" (click)="stepperV.select(1)">
                    NEXT
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-card>
          </fiv-step>
          <fiv-step [title]="'Inspection'" [subtitle]="'Completed'">
           <ion-card color="newblue" >
              <ion-card-header>
                <ion-card-subtitle>Inspection</ion-card-subtitle>
                <ion-card-title>Completed</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Inspection completed on home and approved for pickup.
              </ion-card-content>
              <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button color="dark" (click)="stepperV.select(0)">
                    Previous
                  </ion-button>
                  <ion-button color="primary" (click)="stepperV.select(2)">
                    NEXT
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-card>
          </fiv-step>
          <fiv-step [title]="'Transit'" [subtitle]="'Pending'">
           <ion-card color="newblue" >
              <ion-card-header>
                <ion-card-subtitle>Pickup</ion-card-subtitle>
                <ion-card-title>pending</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Picked up and Moving towards home loaction
              </ion-card-content>
              <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button color="dark" (click)="stepperV.select(1)">
                    Previous
                  </ion-button>
                  <ion-button color="primary" (click)="stepperV.select(3)">
                    NEXT
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-card>
          </fiv-step>
          <fiv-step [title]="'Drop'" [subtitle]="'Pending'">
           <ion-card color="newblue" >
              <ion-card-header>
                <ion-card-subtitle>Drop</ion-card-subtitle>
                <ion-card-title>pending </ion-card-title>
              </ion-card-header>
              <ion-card-content>
              </ion-card-content>
              <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button color="dark" (click)="stepperV.select(2)">
                    Previous
                  </ion-button>
                 
                </ion-buttons>
              </ion-toolbar>
            </ion-card>
          </fiv-step>
        </fiv-stepper>
      </div> -->
     
    </ion-content>

