<!-- <ion-card style="background-color: #fff;">
  <img src="{{img}}" style="float: right; width: 35%; height: 140px; padding-top: 4%; margin-right: 6%; " alt="">
  <div style="margin-left: 4%;">
    <p text-wrap style="color:black ;  font-size: 20px; font-weight: 600; padding:0%;"> {{name}}</p>
    <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700;  margin-left:0px; color:black; "> Rs-{{price}} <del  style="font-size:13px;  color:rgb(145, 136, 125);" *ngIf="delprice>price">{{delprice}}</del></p>
<p text-wrap>Delivery By Mon Dec 08</p>
<br>

  </div>
  <div>
    <ion-button size="small" (click)="addcart()" style="width: 45%; margin-right: 2%;margin-left: 4%;"><ion-icon name="cart" style="padding-right: 5%;"></ion-icon>Add To Cart</ion-button>
    <ion-button size="small" (click)="delete()" style="width: 45%;"><ion-icon name="trash" style="padding-right: 5%;"></ion-icon>Remove</ion-button>

  </div>
</ion-card> -->

<ion-item style="width:100%" color="white"  lines="full"   >
  
  <ion-thumbnail slot="start" style="height: 148px; width: 111px;">
    <img src="{{img}}">
  </ion-thumbnail>
  <ion-label class="ion-text-wrap">
    <ion-text  >
      <h3 style="font-weight: 800;margin-bottom: 20px !important;">{{name}}</h3>
    </ion-text>
   
    <p style="height:35px; margin-bottom: 10px !important;">{{description}}</p>    
    
<div style="height: 3px;">

</div>
       <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700;  margin-left:0px; color:black; "> ₹ {{price}} <del  style="font-size:13px;  color:rgb(145, 136, 125);" *ngIf="delprice>price">₹ {{delprice}}</del></p>

  </ion-label>

</ion-item> 
 <ion-item style="width:100%" color="white"  lines="full">
  
  <ion-grid>
    <ion-row >
      <ion-col size="4" style="font-size: 12px; font-weight:800; text-align: center; " (click)="delete()">
        
       
           <p style="font-weight: 800;"> REMOVE</p>
      </ion-col>
      <ion-col size="1"  style="font-size: 23px;text-align: center; font-weight: 200 !important ;  margin-top: 5px; opacity:0.3 !important;"> 
          |
      </ion-col>
    
      <ion-col size="7" style="font-size: 12px; font-weight:800; text-align: center; " (click)="addcart()" >
        
       
        <p style="font-weight: 800;"> MOVE TO CART</p>
   </ion-col>
      
    </ion-row>
    </ion-grid>
</ion-item>