

<ion-content>
  
</ion-content>
<ion-tabs #tabs  color="success">
  <!-- <fiv-app-bar (fivFabClick)="presentToast('Floating action button clicked')" slot="top" -->
  <fiv-app-bar (fivFabClick)="goto()" slot="top"
    [titleLayout]="titleLayout" #bar [position]="position" [fabVisible]="fabVisible" [icon]="'md-cash'">
    <fiv-app-bar-tab   color="success" left tab="tab1" href="/tab1" icon="md-home" name="Home">
    </fiv-app-bar-tab>
    <fiv-app-bar-tab  left tab="category" href="/category" icon="md-apps" name="Categories">
    </fiv-app-bar-tab>
    
    <fiv-app-bar-tab  right tab="cart" href="/cart" (fivFabClick)="cart()" icon="md-cart" name="Cart" >
    </fiv-app-bar-tab>
    <fiv-app-bar-tab right tab="myorders"  href="/mmaddress"  icon="md-contact" name="Account">
    </fiv-app-bar-tab>
  </fiv-app-bar>
</ion-tabs>