<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
    </ion-buttons>
      <p style="padding-left: 10px; font-weight: 500;">My Orders</p>
      
</ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="loaded=='0'">
        <!-- <app-mmloader>
          
        </app-mmloader> -->
        
        <div *ngFor="let x of [0,1,2,3,4]">
            
               
          <ion-item color="white">
             
            <ion-grid >
                    <ion-row >
                      <ion-col size="6" style="font-size: 10px;text-align: center;">
                        
                       
                        <div  style="height: 10px; color: #FFF;">
                          <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
          
                        </div>
                      </ion-col>
                      <ion-col size="6"  style="font-size: 10px;text-align: center;"> 
                        <div  style="height: 10px; color: #FFF;">
                          <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
          
                        </div>
                      </ion-col>
                   
                      
                    </ion-row>
                    </ion-grid>
                </ion-item>
          <ion-item style="width:100%" color="white"  lines="full" >
            <ion-thumbnail slot="start" style="height: 148px; width: 111px;">
              <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
      
            </ion-thumbnail>
          
            <ion-label class="ion-text-wrap">
              <ion-text >
                <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
      
              </ion-text>
              <ion-text >
                      <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
            
                    </ion-text>
                    <ion-text  >
                          <ion-skeleton-text animated style="width: 10%; height:100%"></ion-skeleton-text>
                
                        </ion-text>
          
                
            </ion-label>
           
           
          </ion-item> 
          <ion-item color="white">
          <ion-grid >
                  <ion-row >
                    <ion-col size="6" style="font-size: 10px;text-align: center;">
                      
                     
                      <div  style="height: 10px; color: #FFF;">
                        <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
        
                      </div>
                    </ion-col>
                    <ion-col size="6"  style="font-size: 10px;text-align: center;"> 
                      <div  style="height: 10px; color: #FFF;">
                        <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
        
                      </div>
                    </ion-col>
                 
                    
                  </ion-row>
                  </ion-grid>
              </ion-item>
         
         </div>
      </div>
      <div *ngIf="loaded=='1'">
          
<ion-card style="width:100%;margin-left: 0px; margin-top: -7px;"    *ngFor="let x of ordering">
<ion-item color="white">
  <ion-label >ID:{{x.id}}</ion-label>
  <ion-label style="margin-left: 60px;" slot="end">Date:{{x.date_created.substring(0, 10)}}</ion-label>

  </ion-item>  
  <ion-item  *ngFor="let y of x.line_items" color="white">
      
  
    <ion-avatar slot="start">
    <img src="{{y.image}}">
    </ion-avatar>
    <ion-label>
      <h1>{{y.name}}</h1>
      <h2>Rs:{{y.price}}</h2>
      <p>quantity:{{y.quantity}}</p>
    </ion-label>
   
  </ion-item>
  <ion-item color="white" *ngIf="x.status!='cancelled'">
    
  <ion-button slot="start" color="white"   (click)="cancels(x.id)">Cancel Order </ion-button>
   
      <!-- <ion-button  slot="end" *ngIf="x.status!='cancelled'" color="light" [routerLink]="['/stepper/'+x.id]">Status&nbsp;: &nbsp;{{x.status}}</ion-button>
      <ion-button expand="full" style="text-align: center;"  *ngIf="x.status=='cancelled'" color="light" [routerLink]="['/stepper/'+x.id]" style="margin-left: 30%;"> Order  {{x.status}}</ion-button> -->

      <ion-button  slot="end"  color="white" >Status&nbsp;: &nbsp;{{x.status}}</ion-button>
      
      </ion-item>
      <ion-button expand="full"   *ngIf="x.status=='cancelled'" color="myred"  > Order  {{x.status}}</ion-button>

</ion-card>

<div *ngIf="staus=='null'">
  <p style="text-align: center; margin-top: 100px; font-weight: 600; color: #bbc2c9;">No Orders Yet</p>
  <!-- <p style="text-align: center; font-weight: 600; color: #bbc2c9;"> Are Sold Out</p> -->
  <div style="margin-top: 20%;">
  <lottie-animation-view 
  [options]="lottieConfig"
  [width]="380"
  [height]="450">
  <!-- (animCreated)="handleAnimation($event)" -->
  </lottie-animation-view>
  </div>
</div>
</div>
</ion-content>

<ion-footer color="newblue"  *ngIf="loaded=='1' && staus=='null'">
 
  <div  style="text-align: center;"   *ngIf="staus=='null'">

      <ion-button   expand="full"  color="myred" type="submit"  [routerLink]="['/myhome/tabs/tab1']" class="ion-no-margin"> <ion-icon slot="start" name="basket"></ion-icon> Start Shopping</ion-button>

    </div>
</ion-footer>

<!-- <ion-item style="width:100%" color="white"  lines="full" *ngFor="let x of ordering">
    
    <ion-grid>
      <ion-row >
        <ion-col size="6" style="font-size: 12px; font-weight:800; text-align: center; " >
          
         
             <p style="font-weight: 800;"> ID:{{x.id}}</p>
        </ion-col>
      
      
        <ion-col size="6" style="font-size: 12px; font-weight:800; text-align: center; "  >
          
         
          <p style="font-weight: 800;"> Date:{{x.date_created.substring(0, 10)}}</p>
     </ion-col>
        
      </ion-row>
      </ion-grid>
  </ion-item>
  <ng-container *ngFor="let x of ordering">
<ion-item style="width:100%" color="white"  lines="full"  *ngFor="let y of x.line_items" >
  
    <ion-thumbnail slot="start" style="height: 148px; width: 111px;">
      <img src="{{y.image}}">
    </ion-thumbnail>
    <ion-label class="ion-text-wrap">
      <ion-text >
        <h3 style="font-weight: 800; margin-bottom: 15px !important;">{{y.name}}</h3>
      </ion-text>
      <p style="height:35px; margin-bottom: 10px !important;">quantity:{{y.quantity}}</p>    
      
  
  <div style="height: 3px;">
  
  </div>
         <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700;  margin-left:0px; color:black; "> ₹ {{y.price}} </p>
  
    </ion-label>
  
  </ion-item> 
</ng-container> -->