<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
          </ion-buttons>
          <p style="padding-left: 10px; font-weight: 500;">WISHLIST</p>
          <ion-icon slot="end"  name="heart" style="font-size: 25px; padding-right: 10px;"  (click)="gotowish()"></ion-icon>
          <fiv-icon (click)="gotocart()" *ngIf="global.storecartdetails" [off]="false" style="margin-right: 20px;" slot="end" [indicatorValue]="global.storecartdetails.count" [name]="'cart'"></fiv-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
        <div *ngIf="loaded=='0'">
                <!-- <app-mmloader>
                  
                </app-mmloader> -->
                <div *ngFor="let x of [0,1,2,3]">
         
                        <ion-item style="width:100%" color="white"  lines="full" >
                          <ion-thumbnail slot="start" style="height: 148px; width: 111px;">
                            <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
                    
                          </ion-thumbnail>
                        
                          <ion-label class="ion-text-wrap">
                            <ion-text >
                              <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
                    
                            </ion-text>
                            <ion-text >
                                    <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
                          
                                  </ion-text>
                                  <ion-text  >
                                        <ion-skeleton-text animated style="width: 10%; height:100%"></ion-skeleton-text>
                              
                                      </ion-text>
                        
                              
                          </ion-label>
                         
                         
                        </ion-item> 
                        <ion-item color="white">
                        <ion-grid >
                                <ion-row >
                                  <ion-col size="6" style="font-size: 10px;text-align: center;">
                                    
                                   
                                    <div  style="height: 10px; color: #FFF;">
                                      <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
                      
                                    </div>
                                  </ion-col>
                                  <ion-col size="6"  style="font-size: 10px;text-align: center;"> 
                                    <div  style="height: 10px; color: #FFF;">
                                      <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
                      
                                    </div>
                                  </ion-col>
                               
                                  
                                </ion-row>
                                </ion-grid>
                            </ion-item>
                       
                       </div>
                
              </div>
    <div *ngIf="loaded=='1'">
        <div *ngIf=" global.wishing.product!='nowishlistitems'">
<app-mmwish  *ngFor="let x of global.wishing.product"  [description]="x.short_description" [name]="x.name" [img]="x.images[0].src" [price]="x.price" [delprice]="x.regular_price" [id]="x.id">
  
</app-mmwish>
        </div>
<div *ngIf="global.heart=='none' || global.wishing.product=='nowishlistitems'">
        <p style="text-align: center; margin-top: 100px; font-weight: 600; color: #bbc2c9;">Oops! No  Products  In  Wishlist</p>
        <p style="text-align: center; font-weight: 600; color: #bbc2c9;"> Add  Some Products</p>
        <div style="margin-top: 20%;">
        <lottie-animation-view 
        [options]="lottieConfig"
        [width]="380"
        [height]="380"
        >
        <!-- (animCreated)="handleAnimation($event)" -->
        </lottie-animation-view>
        </div>
     </div>
    </div>

</ion-content>
<ion-footer color="myred" style="background-color: #ff3e6c;"  *ngIf="loaded=='1'">
        
        <div  style="text-align: center;"  *ngIf="global.heart=='none' || global.wishing.product=='nowishlistitems'">
    
            <ion-button    color="myred" type="submit"  [routerLink]="['/myhome/tabs/tab1']" class="ion-no-margin"> <ion-icon slot="start" name="basket"></ion-icon> Start Shopping</ion-button>
      
          </div>
    </ion-footer>

    