.flex-scroll {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    ion-card {
      flex: 1 0 auto;
    }
  }
  fiv-bottom-sheet-content {
    --fiv-border-radius: 12px;
    --fiv-padding: 20px;
  }
  .flexo {
    display: flex;
    .flex {
      flex: 1 0 auto;
    }
  }