<div style="background-color: white">
<ion-slides  class="detailslide" > 
  <ng-container  *ngFor="let x of category">
  <!-- <ion-slide  [ngStyle]="{ 'background-image': 'url(https://mmsilks.com/wp-content/uploads/2019/10/DSC0532.jpg)'} " style="background-size: cover; height:400px; align-content: center; width: 100%;" > -->
  <ion-slide  style="background-size: cover;  align-content: center; width: 100%;" >
<img src="https://mmsilks.com/wp-content/uploads/2019/10/DSC0532.jpg" style="height:100%; width:100%;">

  </ion-slide>
</ng-container>
</ion-slides>

<ion-card class="detail">
  
  
  <!-- Item Dividers in a List -->
  <ion-list>
    <ion-item-divider>
      <p style="font-size: 14px; font-weight:600; color: black;">
        Pure handloom silk cotton saree
      </p>
   
    </ion-item-divider>
  
    <ion-item-divider>
      <p >
        <span style="font-size: 14px; font-weight:600;">₹3,999.00 </span> <del style="font-size: 12px; font-weight:400;">₹4,299.00</del> 
        <br>
          <span style="font-size: 12px; font-weight:500;">Inclusive of all taxes</span>
      </p>
    </ion-item-divider>
  
     
    <div style="background-color: white; height: 5px;">
    
    </div>
    
  
  
    <ion-item-divider>
      <p style="font-size: 13px; font-weight:800;">
     Product details
          </p>
    </ion-item-divider>

    <ion-item-divider>
      <p style="font-size: 12px; font-weight:400;">
        Pure Silk cotton Saree with beautiful peacock border

        Grand Pallu with tassels      
          </p>
    </ion-item-divider>


  
     
    <div style="background-color: white; height: 5px;">
    
    </div>
    <ion-item-divider>
      <span>
            <ion-icon name="star" slot="start"></ion-icon>
            <p style="font-size: 12px; font-weight:400;">
                Ontime     
                  </p>
                </span> 
    </ion-item-divider>

   
  </ion-list>



              


</ion-card>
</div>