.detailslide{
    position: relative;
}
.detail{
  position: relative;
  width: 100%;
  margin: 0px;
  border-radius: 15px 15px 0px 0px;
  margin-top: -2px;
  z-index: 999999999;

}
.carts{
  display: inline-block;
  width: 20%;
font-size: 20px;
}
.hearts{
    display: inline-block;
    width: 20%;
  font-size: 20px;
}
