<ion-header>
  <ion-toolbar>
    <ion-title>addaddress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item style="width:100%" color="white"  lines="full"  >
  
    

        <ion-list color="arvi" lines="full" class="ion-no-margin ion-no-padding" style="font-weight: 400; width: 100%;">
         
          
        <ion-item color="white">
        <ion-label position="floating" >{{global.useraddress.first_name}}</ion-label>
        <!-- <ion-input  [(ngModel)]="" type="text" ></ion-input> -->
        </ion-item>
        
        <ion-item color="white">
        <ion-label position="floating">{{global.useraddress.address_1}}</ion-label>
        <!-- <ion-input  [(ngModel)]="useraddress.address_1" type="text" required></ion-input> -->
        </ion-item>
        <ion-item color="white">
        <ion-label position="floating">{{global.useraddress.city}}</ion-label>
        <!-- <ion-input  [(ngModel)]="useraddress.city" type="text" required></ion-input> -->
        </ion-item>
        <ion-item color="white">
        <ion-label position="floating">{{global.useraddress.postcode}}</ion-label>
        <!-- <ion-input  [(ngModel)]="useraddress.postcode" type="text" required></ion-input> -->
        </ion-item> 
        <ion-item  color="white">
        <ion-label>{{global.useraddress.state}}</ion-label>
        <!-- <ion-select slot="end" placeholder="Select One" interface="popover" [(ngModel)]="useraddress.state">
          <ion-select-option selected  value="TN">Tamil Nadu</ion-select-option>
          <ion-select-option >kerala</ion-select-option>
          <ion-select-option >Karnataka</ion-select-option>
        </ion-select> -->
        </ion-item>
        <ion-item color="white">
        <ion-label>{{global.useraddress.country}}</ion-label>
        <!-- <ion-select slot="end" placeholder="Select One" interface="popover"  [(ngModel)]="useraddress.country">
          <ion-select-option selected >India</ion-select-option>
          <ion-select-option >UK</ion-select-option>
          <ion-select-option >USA</ion-select-option>
        </ion-select> -->
        </ion-item>
        </ion-list>
        </ion-item>
</ion-content>
<ion-footer style="text-align: center; background-color: #ff3e6c;" >
    <ion-button  color="myred" (click)="checkout()">Continue</ion-button>
  
</ion-footer>
