<ion-header>
  <ion-toolbar color="dark">
    <ion-title>success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding" style="background-color: #ff545c;" >

    <ion-card-title style="margin-top: 50px ;text-align: center; color:white;">Your request has been booked Succesfully</ion-card-title>
<div style="margin-top:60px;">
   

<lottie-animation-view 
[options]="lottieConfig"
[width]="200"
[height]="200"
>
<!-- (animCreated)="handleAnimation($event)" -->

</lottie-animation-view>
</div>
    <!-- <div style="margin-top: 50px" class="success-checkmark">
        <div class="check-icon">
          <span class="icon-line line-tip"></span>
          <span class="icon-line line-long"></span>
          <div class="icon-circle"></div>
          <div class="icon-fix"></div>
        </div>
      </div>  -->

      <ion-card-subtitle style="margin-top: 50px ;text-align: center;color:white;">Thanks for choosing us. <br><br>Our executive will  contact you soon.</ion-card-subtitle>
      <ion-card-subtitle style="margin-top: 50px ;text-align: center; color:white;">Orderid : {{orderid}} </ion-card-subtitle>

</ion-content>
<ion-footer>
    <div class="ion-padding " >
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button expand="block"  style="width:100%" color="dark" type="submit"  [routerLink]="['/orderdetails/'+orderid]" class="ion-no-margin">Track status</ion-button>

          </ion-col>
          <ion-col col-6>
            <ion-button expand="block"   color="dark" type="submit"  [routerLink]="['/']" class="ion-no-margin">Go Home</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
   
</ion-footer>