<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
        </ion-buttons>
    <ion-title>mmreferfriend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img src="assets/slide/refer-friend.png"/> 
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro" >
      Enter the name and mobile number of a person to invite.
    </div>
  
  </div>
  <div padding style="margin-top: 20px;" >
    <input type="text" id="fname" name="Name "   maxlength="20" [(ngModel)]="name" placeholder="Name" style="width:83%;"> &nbsp;
      <button (click)="pick()" style="margin-top:-7px; zoom:1.30; padding-top:9px;padding-bottom:9px; color:#ccc;  
      display: inline-block;
      border: 2px solid #ccc;"  color="grey" outline ion-button icon-only>
     
      <ion-icon name="contacts" color="grey"></ion-icon>
    </button>

 
    <input type="tel" id="fname" name="mobile number"   maxlength="10" [(ngModel)]="mobile" placeholder="Mobile Number">

    <!-- <button ion-button block  (click)="referfriend()"    >Invite</button> 
    <ion-button (click)="referfriend()"  expand="block">Invite</ion-button>

  </div>
 
</ion-content>
 -->
