<ion-item style="width:100%" color="white"  lines="full"  (click)="productlist(id,name)" >
  <ion-thumbnail *ngIf="slot % 2 == 0" slot="start" style="height: 148px; width: 111px;">
    <img src="{{img}}">
  </ion-thumbnail>
  <ion-thumbnail *ngIf="slot % 2!== 0"  slot="end" style="height: 148px; width: 111px;">
    <img src="{{img}}">
  </ion-thumbnail>
  <ion-label class="ion-text-wrap">
    <ion-text >
      <h3 style="font-weight: 800; font-size:18px;">{{name}}</h3>
    </ion-text>
<div style="height: 3px;">

</div>
       <p style="font-size:12px; color:rgb(170, 118, 118); font-weight:600;  margin-left:0px; color:rgb(78, 65, 65); "> {{description}}<del  style="font-size:13px;  color:rgb(145, 136, 125);" *ngIf="delprice>price">₹ {{delprice}}</del></p>
  </ion-label>
</ion-item> 

<!-- <div style="margin-bottom: 6px;">
  <ion-card class="categorytwo"   (click)="productlist(id,name)"  >
  <img src={{img}} alt=""  >
       <p style=" position: absolute; margin-top: 65%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">{{arr.price}}</p>
       <p style=" position: absolute; margin-top: 75%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">{{arr.nameone}}</p>
  </ion-card>

</div> -->

