<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
      </ion-buttons>
      <p style="padding-left: 10px; font-weight: 500;">{{categoryname.substring(0, 14).toUpperCase()}} </p>
     
      <ion-icon slot="end"  name="search" style="font-size: 25px; padding-right: 10px;" (click)="gosearch()"></ion-icon>
      <ion-icon slot="end"  name="heart" style="font-size: 25px; padding-right: 10px;"  (click)="gotowish()"></ion-icon>
     <fiv-icon (click)="gotocart()" *ngIf="global.storecartdetails.count" [off]="false" style="margin-right: 20px;" slot="end" [indicatorValue]="global.storecartdetails.count" [name]="'cart'"></fiv-icon>
   
</ion-toolbar>
<ion-segment color="light" style="background-color: #fff; ">
  <ion-segment-button  color="light" style="border: none;" (click)="low()">
   
    <ion-label style="color: #000;">Low To High    <ion-icon name="arrow-round-up"></ion-icon>  </ion-label>
  </ion-segment-button>
  <ion-segment-button style="border: none;" (click)="high()">
    <ion-label style="color: #000;">High To Low   <ion-icon name="arrow-round-down"></ion-icon></ion-label>
  </ion-segment-button>
  <ion-segment-button style="border: none;" (click)="latest()">
    <ion-label style="color: #000;">Latest   <ion-icon name="funnel"></ion-icon></ion-label>
  </ion-segment-button>
</ion-segment>
</ion-header>


<ion-content>
    <div *ngIf="loaded=='0'">
        <!-- <app-mmloader>
          
        </app-mmloader> -->
        <!-- <div class="ion-padding custom-skeleton">
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div> -->
      
        <ion-card  *ngFor="let x of [1,2,3,4,5,6]"    class="listcard" style="height:300px; display: inline-block; width: 47%; margin:5px 5px 5px 5px !important; background-color: #fff;">
              <ion-card-header  style="height:200px">
                <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>

      
              </ion-card-header>
            <ion-card-header   style="width:100%; margin: 10px;" >
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <!-- <br *ngIf=" name.length<15"/> -->
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                
               
                <!-- <a class="heart" ></a> -->
      
             
            </ion-card-header>
            <!-- <div class="detailcard">
              <ion-card-content  > -->
        
                
                
        
                      <!-- <p  text-wrap style="margin-left:-15px;   font-weight:700;font-size:13.5px; padding-bottom: 2%;" no-lines>{{name}}</p> -->
        
                      <!-- <a  style="zoom: 3.0; margin-top:-28px; margin-left:28px;" (click)="heart($event)" ></a> -->
                 
        
                
                              <!-- <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700;  margin-left:-15px; color:black; float:left; margin-top: 5px;"> ₹ {{price}}<del  style="font-size:13px;  color:rgb(145, 136, 125);"> ₹ {{delprice}}</del></p> -->
           
                              
                      
       
           
          
          
               
              <!-- </ion-card-content>
              </div> -->
            </ion-card>
    
            
      </div>
  <app-mmproductlist *ngIf="status=='success'" [data]="productlist">

  </app-mmproductlist>

 

 

  <div *ngIf="status=='failed'">
<p style="text-align: center; margin-top: 100px; font-weight: 600; color: #bbc2c9;">All Products Under this Category</p>
<p style="text-align: center; font-weight: 600; color: #bbc2c9;"> Are Sold Out</p>
<div style="margin-top: 20%;">
<lottie-animation-view 
[options]="lottieConfig"
[width]="380"
[height]="380"
>
<!-- (animCreated)="handleAnimation($event)" -->
</lottie-animation-view>
</div>
  </div>
  

</ion-content>
<ion-footer  style=" background-color: #475ade; position: fixed; bottom: 0px;" >
 
  
</ion-footer>