
      <ion-item-divider sticky>
          <ion-label>
            Electronics 
          </ion-label>
        </ion-item-divider>
  <ion-card padding>
    <ion-item lines="none">
      <ion-thumbnail style="zoom:0.8;" slot="start">
        <img  src="assets/washing.svg">
      </ion-thumbnail>    
        <ion-label style="font-size: 17px; font-weight: 500;">Washing mashine</ion-label>
      <ion-note fill="outline" slot="end"  style="font-size: 26px; font-weight: 900;">6</ion-note>
      <ion-note fill="outline" slot="end"  style="font-size: 26px; font-weight: 900;">-</ion-note>
    </ion-item>
  

  </ion-card>