<ion-header>
  <ion-toolbar color="dark" (click)="addfiv.show()">
    <ion-buttons slot="start">
<ion-back-button>

</ion-back-button>
    </ion-buttons>
    <ion-title>Things you have</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ng-container *ngIf="loaded==1"> 
   <ng-container *ngFor="let y of category; let i = index" >
     <ion-item-divider  color="dark" sticky>
          <ion-label style="font-weight: 600;">
            {{y.name}}
          </ion-label>
        </ion-item-divider> 
        

            
  <ng-container  *ngFor="let x of things; let i = index" > 
      <ion-card  (click)="add(i,$event)" *ngIf="y.id===x.categoryid" [color]="x.count!=0 ? 'primary' : 'white'"   padding class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-item lines="none" color="transparent">
              <ion-note  [color]="x.count!=0 ? 'white' : 'dark'" *ngIf="x.count!=0" slot="start" style="font-size: 25px; font-weight:900" (click)="sub(i,$event)" ><span>&nbsp;-&nbsp;</span></ion-note>

                   <ion-thumbnail  style="zoom:0.6;" slot="start">
                
                  <img [ngClass]="{'filter': x.count!=0}" src="{{x.image}}">
                </ion-thumbnail>
                
            <ion-label style="font-size: 18px; font-weight:700"  text-wrap>{{x.name}}</ion-label>
            <ion-note [color]="x.count!=0 ? 'white' : 'dark'"  slot="end" style="font-size: 25px; font-weight:900">{{x.count}}</ion-note>
            <ion-note  #addfiv="fivFeature" [fivFeature]="addContent" [featurePadding]="fp" [contentOffset]="co"  [color]="x.count!=0 ? 'white' : 'dark'" slot="end" style="font-size: 25px; font-weight:900" (click)="add(i,$event)" ><span> &nbsp;+&nbsp;</span></ion-note>
            <!-- <ion-note  [color]="x.count!=0 ? 'white' : 'dark'" *ngIf="x.count!=0" slot="start" style="font-size: 25px; font-weight:900" (click)="sub(i,$event)" >&nbsp;-&nbsp;</ion-note> -->
            <!-- <ion-note  [color]="x.count!=0 ? 'white' : 'dark'" *ngIf="x.count==0" slot="end" style="font-size: 25px; font-weight:900">&nbsp;&nbsp;</ion-note> -->
  
          </ion-item>
  <div style="position: absolute;  top:0px; left:0px; height: 100%; width: 20%; background-color: rgba(90, 90, 86, 0);" *ngIf="x.count!=0"   (click)="sub(i,$event)" padding>
  </div>
   <div style="position: absolute;  top:0px; left:0px; height: 100%; width: 20%; background-color: rgba(90, 90, 86, 0);"  *ngIf="x.count==0"  padding>
  </div>
        </ion-card>
    </ng-container>
  </ng-container>
  </ng-container>


</ion-content>
<ion-footer color="dark">
    <div class="ion-padding footer"  >
      <ion-button expand="block" color="newblue" type="submit"  (click)="next()" routerLinkActive="router-link-active"  class="ion-no-margin">Continue</ion-button>
    </div>
   
</ion-footer>


<ng-template #dropcontent>
    <div padding>
      <ion-text color="light">
        <h1>Go Back</h1>
        <p>{{'Enter the drop location.' | uppercase}}</p>
      </ion-text>
      <ion-buttons>
        <ion-button (click)="drop.hide(); fab.show()" color="light" shape="round" fill="outline">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          PREVIOUS
        </ion-button>
        <ion-button color="light" shape="round" fill="outline" (click)="drop.hide()">
          FINISH
        </ion-button>
      </ion-buttons>
    </div>
  </ng-template>
  
  <ng-template #fabContent style="background-color: black">
    <div padding >
      <ion-text color="light">
        <h1>Enter pickup address</h1>
        <p>Enter the address of the pickup location</p>
      </ion-text>
      <ion-buttons>
        <ion-button color="light" shape="round" fill="outline" (click)="fab.hide(); drop.show()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          NEXT
        </ion-button>
      </ion-buttons>
    </div>
  </ng-template>
  <ng-template #addContent style="background-color: black">
    <div padding >
      <ion-text color="light">
        <h1>Click here to add items</h1>
        <p>You can add multipile items</p>
      </ion-text>
      <ion-buttons>
        <ion-button color="light" shape="round" fill="outline" (click)="addfiv.hide(); drop.show()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          NEXT
        </ion-button>
      </ion-buttons>
    </div>
  </ng-template>  <ng-template #subContent style="background-color: black">
    <div padding >
      <ion-text color="light">
        <h1>Click here to delete items</h1>
      </ion-text>
      <ion-buttons>
        <ion-button color="light" shape="round" fill="outline" (click)="sub.hide(); drop.show()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          NEXT
        </ion-button>
      </ion-buttons>
    </div>
  </ng-template>
  
  <ng-template #tourContent>
    <div padding >
      <ion-text color="light">
        <h1>Take the Tour</h1>
        <p>You can also build a little feature tour.</p>
      </ion-text>
    </div>
  </ng-template>
