.ion-activatable {
    position: relative;
    overflow: hidden;
  }
  .zoomyInAnimation {
    //color:#808080;
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms; 
}

.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.footer{
  background-color: var(--ion-color-dark);
 // border-radius: 30px;
}