<!-- <ion-header>
  <ion-toolbar >
   <p style="padding-left: 5px; "> MM Silks</p>
   <ion-icon slot="end" color="danger" name="heart" style="font-size: 25px; padding-right: 25px;"  (click)="gotowish()"></ion-icon>
   <ion-icon slot="end"   color="primary" name="cart" style="font-size: 25px; padding-right: 25px;" (click)="gotocart()"></ion-icon>
<ion-badge   style="position: absolute; right: 18%;top: 15%; background-color: blueviolet;  border-radius: 50%;" >{{global.storecartdetails.count}}</ion-badge>
 
   <ion-icon slot="end"  name="search" style="font-size: 25px; padding-right: 25px;" (click)="gosearch()"></ion-icon>
  </ion-toolbar>
 
</ion-header> -->