<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Truck </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" >
  <div *ngIf="loaded==1"> 
    <ion-card-header color="dark" >
        <ion-card-title style="font-size: 50px; font-weight: 700" >₹ {{price}}</ion-card-title>
        <ion-card-subtitle>Estimation</ion-card-subtitle>

      </ion-card-header>
      <!-- <ion-card-content>
        <p style="font-weight: 600; font-size:17px;">The estimate price is ₹ 6400</p>
        <p style="font-weight: 400; font-size:13px;">Prices are only estimation.After visting home prices may varies</p>
      </ion-card-content> -->
    <div style="background-color: rgb(253, 253, 253); border-radius: 40px 40px 0px  0px;  padding-top: 40px;">
        <ion-list-header>
            <ion-label>Details</ion-label>
          </ion-list-header>
   
    <!-- <ion-card class="flexo" style="padding: 0px 10px 0px  20px" color="primary"> 
            <img style="margin-top:17px; height:91px; width: 25px;" slot="start" src="assets/location.png">
        <ion-card-header style=" width: 150px;  ">

      <ion-card-subtitle  style="font-size: 19px; font-weight:900; " >Chennai</ion-card-subtitle>
      <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> Tamil Nadu, India</p>
      <br>
      <ion-card-subtitle  style="font-size: 19px; font-weight:900; " >Chennai</ion-card-subtitle>
      <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> Tamil Nadu, India</p>

    </ion-card-header>  
<div  style="float: left; height:70px;  width: 300px; margin-top:20px; margin-left:70px;    " lines="none">
    <ion-card-subtitle>&nbsp;total:</ion-card-subtitle>

    <span style="font-size: 55px; font-weight:900;">
             50
    </span>
      
    <span style="font-weight: 800; font-size:14px;">
            Kilometers
    </span>  

</div>
    </ion-card > -->
    <ion-card *ngIf="loaded" class="flex-scroll" style="padding: 0px 10px 0px  20px; margin-left: 15px;" color="primary"> 
      <img style="margin-top:17px;  height:71px; width: 20px;" slot="start" src="assets/line2.png">
  <ion-card-header style=" width: 150px;  ">
  
  <ion-card-subtitle  *ngIf="this.global.from.city" style="font-size: 14px; font-weight:900; " >{{this.global.from.city}}</ion-card-subtitle>
  <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{this.global.from.state}}</p>
  <br>
  <ion-card-subtitle *ngIf="this.global.from.city"   style="font-size: 14px; font-weight:900; " >{{this.global.to.city}}</ion-card-subtitle>
  <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{this.global.to.state}}</p>
  
  </ion-card-header>  
  <div  style="float: left; height:70px;  width: 300px; margin-top:20px; margin-left:50px;    " lines="none">
  <ion-card-subtitle>&nbsp;total:</ion-card-subtitle>
  
  <span style="font-size: 40px; font-weight:900;">
      {{(km.value/1000).toFixed()}}
  </span>
  
  <span style="font-weight: 800; font-size:14px;">
      Kilometers
  </span>  
  

  </div>
  </ion-card >
<ion-card color="primary" style="overflow:visible; margin-top:60px;" padding class="flex">
  <img  style="width: 130px; height: 134px; margin-top:-90px; position: relative; " src="{{truckdata.image}}">
  <ion-card-subtitle  slot="end" style="font-size: 19px; font-weight:900;direction: rtl" >{{truckdata.name}}</ion-card-subtitle>

</ion-card>
<div style="background-color: black;"> 
    <!-- <ng-lottie [options]="lottieConfig" ></ng-lottie> -->


<!-- <lottie-animation-view
[options]="lottieConfig"
[width]="300"
[height]="300"
>
</lottie-animation-view> -->
</div>
    <ion-card>
       
      
        <ion-card-content>
        <p style="font-weight: 500; font-size: 12px"> * Warning message 1</p> 
        <p style="font-weight: 500; font-size: 12px"> * Warning message 2</p> 
        <p style="font-weight: 500; font-size: 12px"> * Warning message 3</p> 
       
        
       
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="!couponapplied"><ion-input [(ngModel)]="formdata.coupon" placeholder="Enter Promo code" style="width:67%;  font-size:16px; font-weight: 900" padding>  

      </ion-input> 
      <ion-button [disabled]="buttondis" slot="end" small  color="success" style="width:33%; float:right; margin-top:1px; font-size:16px; font-weight: 900; zoom:1.09;" type="submit"  (click)="applyoffer()"  class="ion-no-margin">Apply  &nbsp; <ion-spinner *ngIf="promospin"></ion-spinner> </ion-button>
      </ion-card> 

    <ion-card *ngIf="couponapplied">
      <ion-input  [(ngModel)]="formdata.coupon"  disabled placeholder="" style="width:52%;  font-size:16px; font-weight: 900" padding>  

    </ion-input> 
      <ion-button [disabled]="buttondis"  slot="end" small  color="success" style="width:47%; float:right; margin-top:1px; font-size:16px; font-weight: 900; zoom:1.09;" type="submit"  (click)="getestimate()"  class="ion-no-margin">Remove Coupon &nbsp; <ion-spinner *ngIf="promospin"></ion-spinner> </ion-button>
    <!-- <p style="position: absolute; top:0px;" >Offer applied</p> -->
    <div color="transparent" style="height: 40px;"  padding>

    <ion-card-subtitle > Offer applied (You are saving ₹  {{coupondata.discount}})</ion-card-subtitle>

    </div> 
    </ion-card> 
    
     <!-- <ion-card ><ion-input placeholder="Enter Promo code" style="width:67%;  font-size:16px; font-weight: 900" padding>  

    </ion-input> 
    <ion-button  slot="end" small  color="success" style="width:33%; float:right; margin-top:2px; font-size:16px; font-weight: 900; zoom:1.09;" type="submit"  (click)="promospin = !promospin"  class="ion-no-margin">Apply  &nbsp; <ion-spinner *ngIf="promospin"></ion-spinner>
    </ion-button>
    </ion-card>  -->
    <br>
    <br>
    <ion-input placeholder="Enter Promo code"  padding>  

      </ion-input> 
    <br>
 
    <br>
    <br>
    <br>
    <br>
</div>
</div>
</ion-content>
<ion-footer color="dark">
    <div class="ion-padding">
      <ion-button expand="block" color="dark" type="submit"  (click)="presentAlertConfirm()"  class="ion-no-margin">Book now</ion-button>
    </div>
   
</ion-footer>