<ion-header>
    <ion-toolbar >
     <p style="padding-left: 5px; font-weight:800 "> MM Silks</p>
     
          <ion-icon slot="end"  name="search" style="font-size: 25px; padding-right: 10px;" (click)="gosearch()"></ion-icon>
     <ion-icon slot="end"  name="heart" style="font-size: 25px; padding-right: 10px;"  (click)="gotowish()"></ion-icon>
    <fiv-icon (click)="gotocart()" *ngIf="global.storecartdetails.count" [off]="false" style="margin-right: 20px;" slot="end" [indicatorValue]="global.storecartdetails.count" [name]="'cart'"></fiv-icon>
    </ion-toolbar>
   
  </ion-header>


<ion-content>
    <div *ngIf="loaded=='0'">
        <!-- <app-mmloader>
          
        </app-mmloader> -->

        <ion-slides #homeslider spaceBetween="12" slidesPerView="1" centeredSlides loop autoplay="5000" speed="1000"
    style="height:155px; margin-bottom:0px; border-radius: 10px !important;" >
   
    <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>

     
  </ion-slides> 
  <div class="flex">
    <ion-card class="category"  >
     
      <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>

    </ion-card>
    
    <ion-card class="category"  >
     
      <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>

    </ion-card>
  <style>
    .flex{
 
 display: flex;
 overflow-x:scroll;
 width: 100%;

}
ion-card {
     margin-top: 20px;
     flex: 1 0 auto;
 }
.category{
 width: 30%;
}

.categorytwo{
    display: inline-block;
    width:31%;
   margin: 4px ;
   
}
    </style>
  </div>
  <ion-skeleton-text animated style="width: 60%; margin-left:10px;"></ion-skeleton-text>
  <ion-grid>
    <ion-row >
      <ion-col size="4" style="height: 140px;" *ngFor="let x of [1,2,3,4,5,6]" >
        <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
      </ion-col>
      
    </ion-row>
    </ion-grid>
    <ion-skeleton-text animated style="width: 60%; margin-left:10px;"></ion-skeleton-text>

    <ion-grid>
      <ion-row >
        <ion-col size="6" style="height: 240px;" *ngFor="let x of [1,2]" >
          <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
        </ion-col>
        
      </ion-row>
      </ion-grid>
      </div>
  <div *ngIf="loaded=='1'">
 <ion-slides #homeslider spaceBetween="12" slidesPerView="1" centeredSlides loop autoplay="5000" speed="1000"
    style="height:155px; margin-bottom:0px; border-radius: 10px !important;" >
    <ng-container >


      <ion-slide style="padding-right:10px; padding-left:10px;" *ngFor="let x of banner" >
        <img src={{x.url}} style="border-radius: 10px !important; " >
      </ion-slide>
    </ng-container>
  </ion-slides> 
  
  <app-mmswipe [data]='offer'>
  
  </app-mmswipe>

 

  <app-mmforcategory  [data]="data.categories">

  </app-mmforcategory>


<ion-item-divider style="margin-top: 10px;">
    <ion-label style="font-weight: 800; font-size: 14px;">Featured Products</ion-label>
  </ion-item-divider>
<app-mmfeatured [data]="featured" >

</app-mmfeatured> 
<!-- <app-mmproductlist [data]="featured">

</app-mmproductlist> -->
<!-- <ion-button>
  <fiv-icon #feature="fivFeature" [fivFeature]="content" name="add"  > </fiv-icon>
</ion-button>

<ng-template #content >
  <div padding >
    <ion-text color="light">
      <h1>Take the Tour</h1>
      <p>You can also build a little feature tour.</p>
    </ion-text>
  </div>
</ng-template>
<ion-button (click)="feature.show()">
  Open Feature
</ion-button> -->



 


<!--
<br>
<br>
<br> -->
 
<!-- <app-mmforsubcategory>

</app-mmforsubcategory> -->

<!-- <app-mmforfeature>
  
</app-mmforfeature> -->


<br>
<br>
<br>
<br>
<br>
<br>
</div>
</ion-content>
