<ion-header>
  <ion-toolbar  color="white">
    <ion-title>Booking Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" style="background-color: blue;" >
<style>
  div.ex1 {

  height: 87%;
  width: 100%;
  overflow-y: scroll;
}

</style>
  



<div  *ngIf="loaded==1" class="ex1" style="border-radius: 0px 0px 40px  40px; z-index: 999999; background-color: white">


<!-- <ion-card-header color="dark" >

    <ion-card-title style="font-size: 30px; font-weight: 700; color:white;"  libParticleEffectButton [pColor]="'#ffffff'" [pHidden]="hidden"  >₹ {{price}}</ion-card-title>
    <ion-card-subtitle>Estimation</ion-card-subtitle>

  </ion-card-header> -->

<!-- <div style="background-color: rgb(253, 253, 253); border-radius: 40px 40px 0px  0px; height: 100%; padding-top: 20px; "> -->
<div style="background-color: rgb(253, 253, 253); height: 100%; padding-top: 20px; ">
<ng-container *ngIf="global.dbloaded==1">
  <div  padding>

  <ion-card class="flex-scroll" style="padding: 0px 10px 0px  20px; margin-left: 0px; z-index: 999;" color="newblue"> 
      <img style="margin-top:17px; height:71px; width: 20px; " slot="start" src="assets/line2.png">
  <ion-card-header style=" width: 150px;  ">
  
  <ion-card-subtitle  *ngIf="data" style="font-size: 14px; font-weight:900; " >{{data.fromcity}}</ion-card-subtitle>
  <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{data.fromstate}}</p>
  <br>
  <ion-card-subtitle *ngIf="data"   style="font-size: 14px; font-weight:900; " >{{data.tocity}}</ion-card-subtitle>
  <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{data.tostate}}</p>
  
  </ion-card-header>  
  <div  style="float: left; height:70px;  width: 300px; margin-top:20px; margin-left:50px;    " lines="none">
  <ion-card-subtitle>&nbsp;total:</ion-card-subtitle>
  
  <span style="font-size: 40px; font-weight:900;">
       {{(data.distance*1).toFixed(0)}}
  </span>
  
  <span style="font-weight: 800; font-size:14px;">
      Kilometers
  </span>  
  
  </div>
  </ion-card ></div>
  <ion-card  color="primary" style="margin-top:-60px;" *ngIf="data.sharing=='1'" >
    
    <br>
    <p  style="font-size:12px; zoom:1.2; font-weight:700; text-align: center;"> <ion-icon  name="git-pull-request"></ion-icon> Shared shifting</p>
    </ion-card>

    <ion-card>
      <ion-list lines="none"  >
          <ion-list-header>
              <ion-label >Recipt</ion-label>
            </ion-list-header>
        <ion-item>
          <ion-label *ngIf="data.status!='booked'"  style="font-size: 12px; font-weight: 500">Subtotal</ion-label>
          <ion-label  *ngIf="data.status=='booked'" style="font-size: 12px; font-weight: 500">Subtotal(Estimated)</ion-label>
          <ion-note slot="end" style="font-size: 12px; font-weight: 500">₹ {{data.price*1+data.discount*1}}</ion-note>

        </ion-item>
        <ion-item  lines="full">
          <ion-label style="font-size: 12px; font-weight: 500">Discount</ion-label>
          <ion-note slot="end" *ngIf="data.discount" style="font-size: 12px; font-weight: 500">₹ {{data.discount}}</ion-note>
          <ion-note slot="end" *ngIf="!data.discount" style="font-size: 12px; font-weight: 500">₹ 0</ion-note>

        </ion-item>
        <ion-item>
          <ion-label  *ngIf="data.status!='booked'" style="font-size: 12px; font-weight: 700">Total</ion-label>
          <ion-label  *ngIf="data.status=='booked'" style="font-size: 12px; font-weight: 700">Total(Estimated)</ion-label>
          <ion-note slot="end"  style="font-size: 12px; font-weight: 600">₹ {{data.price}}</ion-note>

        </ion-item>
      
      
      </ion-list>

  
    </ion-card>

    <ion-card>
      <ion-list lines="none"  >
          <ion-list-header>
              <ion-label >Payemnt</ion-label>
            </ion-list-header>
        <ion-item>
          <ion-label   style="font-size: 12px; font-weight: 500">Initial payment</ion-label>
          <!-- <ion-note slot="end" style="font-size: 12px; font-weight: 500">₹ {{data.price*1+data.discount*1}}</ion-note> -->
          <ion-button style="font-size: 12px; font-weight:500; zoom:1.4;"   expand="block"  color="dark" (click)="al()"  type="submit"    >
            Pay ₹ 500
          </ion-button>
        </ion-item>
      
        <ion-item disabled>
          <ion-label   style="font-size: 12px; font-weight: 500">Second payment</ion-label>
          <!-- <ion-note slot="end" style="font-size: 12px; font-weight: 500">₹ {{data.price*1+data.discount*1}}</ion-note> -->
          <ion-button style="font-size: 12px; font-weight:500; zoom:1.4;"   expand="block"  color="dark"   type="submit"   >
            Pay ₹ {{((data.price*80/100)-500).toFixed()}}
          </ion-button>
        </ion-item>
      
        <ion-item disabled>
          <ion-label   style="font-size: 12px; font-weight: 500">Final payment</ion-label>
          <!-- <ion-note slot="end" style="font-size: 12px; font-weight: 500">₹ {{data.price*1+data.discount*1}}</ion-note> -->
          <ion-button style="font-size: 12px; font-weight:500; zoom:1.4;"   expand="block"  color="dark"   type="submit"  >
            Pay ₹ {{((data.price-(data.price*80/100)-500)).toFixed()}}
          </ion-button>
        </ion-item>
      
       
      
      </ion-list>

  
    </ion-card>

    <ion-card >
      <ion-list lines="none" color="primary" >
         
        <ion-item>
          <ion-label style="font-size: 12px; font-weight: 500">Booked Date</ion-label>
          <ion-note slot="end" style="font-size: 12px; font-weight: 500">{{data.timestamp | date:'mediumDate' }}</ion-note>

        </ion-item >
        <ion-item   >
          <ion-label style="font-size: 12px; font-weight: 500">Pickup Date </ion-label>
          <ion-note slot="end"  style="font-size: 12px; font-weight: 500">{{data.pickupdate | date:'mediumDate' }}</ion-note>

        </ion-item>
       
      
      
      </ion-list>

  
    </ion-card>
  

 

 
    
    
<!-- <ion-card >
    <ion-card-header> 
      <ion-card-title>From</ion-card-title>

      <ion-card-subtitle text-wrap>{{global.from.address}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        <ion-list>
            <ion-item>
              <ion-label text-wrap>Pickup date</ion-label>
              <ion-note slot="end">{{global.mappageform.pickupdate | date :'longDate'}}</ion-note>
            </ion-item>
            <ion-item>
              <ion-label text-wrap>Appointment  date</ion-label>
              <ion-note slot="end">{{global.mappageform.pickupappointmentdate | date :'longDate'}}</ion-note>
            </ion-item>
            <ion-item>
              <ion-label text-wrap>Floor</ion-label>
              <ion-note  slot="end">{{global.mappageform.pickupfloor}}</ion-note>
            </ion-item>
            <ion-item >
              <ion-label text-wrap>Service elevetor</ion-label>
              <ion-note slot="end">{{global.mappageform.pickupelevator}}</ion-note>
            </ion-item>
        
          </ion-list>
    </ion-card-content>
  </ion-card> -->
<!-- <ion-card>
    <ion-card-header> 
      <ion-card-title>To</ion-card-title>

      <ion-card-subtitle text-wrap>{{global.to.address}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
        <ion-list>
            <ion-item>
              <ion-label text-wrap>Floor</ion-label>
              <ion-note  slot="end">2nd floor</ion-note>
            </ion-item>
            <ion-item >
              <ion-label text-wrap>Service elevetor</ion-label>
              <ion-note slot="end">no</ion-note>
            </ion-item>
        
          </ion-list>
    </ion-card-content>
  </ion-card> -->
<!-- <ion-card>

  <ion-list>
      <ion-item>
        <ion-label>Sharing </ion-label>
        <ion-checkbox [(ngModel)]="sharing" color="dark"  slot="end" ></ion-checkbox>
      </ion-item>
    </ion-list>
          </ion-card> -->


<!-- <ion-card> 
<ion-card-header>
  <ion-card-subtitle>Estimation</ion-card-subtitle>
  <ion-card-title>500 kms to be traveled</ion-card-title>
</ion-card-header>
<ion-card-content>
  <p style="font-weight: 600; font-size:17px;">The estimate price is ₹ 6400</p>
  <p style="font-weight: 400; font-size:13px;">Prices are only estimation.After visting home prices may varies</p>
</ion-card-content>
</ion-card> -->
<!--     
<ion-card ><ion-input placeholder="Enter Promo code" style="width:67%;  font-size:16px; font-weight: 900" padding>  


<ion-card>
 

  <ion-card-content>
  <p style="font-weight: 500; font-size: 12px"> * Warning message 1</p> 
  <p style="font-weight: 500; font-size: 12px"> * Warning message 2</p> 
  <p style="font-weight: 500; font-size: 12px"> * Warning message 3</p> 
 
  
 
  </ion-card-content>
</ion-card>


</ion-input> 
<ion-button  slot="end" small  color="success" style="width:33%; float:right; margin-top:2px; font-size:16px; font-weight: 900; zoom:1.09;" type="submit"  (click)="promospin = !promospin"  class="ion-no-margin">Apply  &nbsp; <ion-spinner *ngIf="promospin"></ion-spinner>
</ion-button>
</ion-card>  -->

  <ion-card  color="newblue" *ngIf="data.type=='home'"> 

<fiv-expandable #ex>
  <fiv-ripple header (fivClick)="ex.toggle()">
    <!-- <ion-item [lines]="'inset'">
      <ion-label>Expandable Header</ion-label>
      <fiv-expandable-indicator></fiv-expandable-indicator>
    </ion-item> -->
    <ion-list-header color="newblue" padding>
        <ion-label>Items ({{data.quantity}})</ion-label>
        <fiv-expandable-indicator></fiv-expandable-indicator>
        
      </ion-list-header>
  </fiv-ripple>
  <div content>
    <!-- <span class="content" [fivCenter]>Expandable Content (height depends on contents size)</span> -->
    <ion-list >
     
        <ng-container *ngFor="let x of data.items">
      <ion-item  color="newblue" lines="none" *ngIf="x.quantity>0" >
              <ion-thumbnail style="zoom:0.5;"   slot="start"> 

            <img  class="filter" src="{{x.image}}">
          </ion-thumbnail>         
             <ion-label>
            <h2 style="font-weight: 700;">{{x.name}}</h2>
          </ion-label>
          <ion-note color="light" style="font-weight: 700;" slot="end">x {{x.quantity}}</ion-note>
        </ion-item>
      </ng-container>

    </ion-list>
  </div>
</fiv-expandable>

 
  </ion-card>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</ng-container>

</div>
</div>
<div style="position: fixed; bottom: 0px; width: 100%;  z-index: 1;">
<div class="ion-padding" >

    <ion-item color="transparent" lines="none" style="    border-style:none;    ">
       
        <ion-label text-wrap style="font-size: 14px; font-weight:600;">Waiting for inspection</ion-label>
        <ion-button style="font-size: 12px; font-weight:500; zoom:1.4;"  expand="block"  color="dark"   type="submit"  [routerLink]="['/bookingdetails/'+orderid]"  class="ion-no-margin">
          <ion-icon slot="start" name="pin"></ion-icon>
          Track status</ion-button>

      </ion-item>
<!-- <ion-button *ngIf="estimated" expand="block" color="dark" type="submit"  (click)="presentAlertConfirm()"  class="ion-no-margin">Book now</ion-button> -->
</div>

</div>
</ion-content>
