<!-- 
<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ng-container *ngIf="backbutton">
      </ng-container>
      <ng-container *ngIf="!backbutton">
        <ion-menu-button></ion-menu-button>
      </ng-container>
    </ion-buttons>
    <ion-title (click)="onTitleClicked()">Goshit</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" small shape="round" color="secondary" #tour="fivFeature" [fivFeature]="tourContent"
      [featurePadding]="fp" [contentOffset]="co" (click)="fab.show()">
      help
    </ion-button>      </ion-buttons>
  </ion-toolbar>
</ion-header> -->



<ion-content >
  <div id="map_canvas" style="padding-top:20px;"> 
      <ion-toolbar color="dark" style="margin-top:-22px;">
          <ion-buttons slot="start">
            <ng-container *ngIf="backbutton">
            </ng-container>
            <ng-container *ngIf="!backbutton">
              <ion-menu-button></ion-menu-button>
            </ng-container>
          </ion-buttons>
         
        </ion-toolbar>
      <ion-card  style="margin-top: 10px;" color="dark">
          <ion-item  
          color="transparent"  lines="none" (click)="openpicker('from')">
            <ion-icon #fab="fivFeature" [fivFeature]="fabContent" [featurePadding]="fp" [contentOffset]="co"   name="locate" slot="start"></ion-icon>
            <ion-label style="font-size: 12px; font-weight:700;" *ngIf="!fromloaded">Enter the pickup address</ion-label>
            <ion-label text-wrap style="font-size: 12px; font-weight:700;" *ngIf="fromloaded">{{global.from.address}}</ion-label>
          </ion-item>
   
          <ion-item  
          color="transparent"  lines="none"   color="transparent"  (click)="openpicker('to')" >
              <ion-icon #drop="fivFeature" [fivFeature]="dropcontent" [featurePadding]="fp" [contentOffset]="co"   name="pin" slot="start"></ion-icon>
              <ion-label text-wrap style="font-size: 12px; font-weight:700;"  *ngIf="!toloaded">Enter the drop address</ion-label>
              <ion-label text-wrap style="font-size: 12px; font-weight:700;"  *ngIf="toloaded">{{global.to.address}}</ion-label>
            </ion-item>
      </ion-card>
      <app-mmfeatured>
        
      </app-mmfeatured>
    
      <!-- <ion-card  style="margin-top: 0px;" color="light">
          <ion-item  style="zoom:1;  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          border-radius: 5px; " 
          color="transparent"  lines="none" (click)="presentModal('from')">
            <ion-icon #fab="fivFeature" [fivFeature]="fabContent" [featurePadding]="fp" [contentOffset]="co"   name="locate" slot="start"></ion-icon>
            <ion-label style="font-size: 12px; font-weight:700;" *ngIf="!fromloaded">Enter the pickup address</ion-label>
            <ion-label text-wrap style="font-size: 12px; font-weight:700;" *ngIf="fromloaded">{{global.from.address}}</ion-label>
          </ion-item>
      </ion-card>
      <ion-card  style="margin-top: -25px;" color="light">
          <ion-item  style="zoom:1;  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          border-radius: 5px; " 
          color="transparent"  lines="none"   color="transparent" (click)="presentModal('to')" >
              <ion-icon #drop="fivFeature" [fivFeature]="dropcontent" [featurePadding]="fp" [contentOffset]="co"   name="pin" slot="start"></ion-icon>
              <ion-label text-wrap style="font-size: 12px; font-weight:700;"  *ngIf="!toloaded">Enter the drop address</ion-label>
              <ion-label text-wrap style="font-size: 12px; font-weight:700;"  *ngIf="toloaded">{{global.to.address}}</ion-label>
            </ion-item>
      </ion-card> -->
    
<!-- <ion-card padding style="margin-top: 0px;">
   
  <ion-item  style="zoom:1;  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; " 
  color="secondary"  lines="none"  (click)="presentModal('from')">
    <ion-icon #fab="fivFeature" [fivFeature]="fabContent" [featurePadding]="fp" [contentOffset]="co"   name="locate" slot="start"></ion-icon>
    <ion-label *ngIf="!fromloaded">Enter the pickup address</ion-label>
    <ion-label *ngIf="fromloaded">{{global.from.address}}</ion-label>
  </ion-item>
<ion-item  style="zoom:1 ;  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
margin-top: 10px;
border-radius: 5px; "    color="secondary" (click)="presentModal('to')"  lines="none"  no-line>
    <ion-icon #drop="fivFeature" [fivFeature]="dropcontent" [featurePadding]="fp" [contentOffset]="co"   name="pin" slot="start"></ion-icon>
    <ion-label *ngIf="!toloaded">Enter the drop address</ion-label>
    <ion-label *ngIf="toloaded">{{global.to.address}}</ion-label>
  </ion-item>

</ion-card> -->

<!-- <ion-card padding style="margin-top: 0px;" color="dark">
   
  <ion-item  style="zoom:1;  
  transition: 0.3s;
  border-radius: 5px; " 
  color="warning"  lines="none"  (click)="presentModal('from')">
    <ion-icon #fab="fivFeature" [fivFeature]="fabContent" [featurePadding]="fp" [contentOffset]="co"   name="locate" slot="start"></ion-icon>
    <ion-label *ngIf="!fromloaded">Enter the pickup address</ion-label>
    <ion-label *ngIf="fromloaded">{{global.from.address}}</ion-label>
  </ion-item>
<ion-item  style="zoom:1 ;  
transition: 0.3s;
margin-top: 10px;
border-radius: 5px; "    color="secondary" (click)="presentModal('to')"  lines="none"  no-line>
    <ion-icon #drop="fivFeature" [fivFeature]="dropcontent" [featurePadding]="fp" [contentOffset]="co"   name="pin" slot="start"></ion-icon>
    <ion-label *ngIf="!toloaded">Enter the drop address</ion-label>
    <ion-label *ngIf="toloaded">{{global.to.address}}</ion-label>
  </ion-item>

</ion-card> -->


</div>

</ion-content>

<fiv-bottom-sheet #fbs  [(state)]="drawerState" [dockedHeight]="dockedHeight"
  [shouldBounce]="shouldBounce" [distanceTop]="distanceTop" (stateChange)="change()">

  <fiv-bottom-sheet-content  color="dark" [float]="float"  [rounded]="rounded" [handle]="handle">
   <!-- <div style="background-color: #ffffff;  padding-top:3px; border-radius:0px 0px 0px 0px; margin-bottom: -2px; width:100%; height:100%;" > -->
   <div style="background-color: #ffffff;  padding-top:3px; border-radius:0px 0px 0px 0px; margin-bottom: -2px; width:100%; height:100%;" >

    <div style="background-color: #0b0732; height: 0%; margin-top: -7px; width:100%;" > </div>
      <div style="background-color: #0b0732; border-radius:0px 0px 30px 30px; margin-top: 0px; ">
       

        <!-- <div *ngIf="show" [@enterAnimation]>xxx</div> -->
        <ion-item-divider *ngIf="dstate=='top'" color="transparent">
            <ion-button slot="start"  color="transparent"  (click)="down()">
                <ion-icon slot="icon-only"  mode="md" color="light" name="close"></ion-icon>
              </ion-button>
          </ion-item-divider>  
<!-- <button  (click)="changeit()"> sdghs</button> -->
        <ion-grid  [@enterAnimation]>
            <ion-row>
              <ion-col >
                
                     <ion-card   [color]="selected=='home' ? 'newsecondary' : 'darklight'" (click)="home()" padding>
                      <!-- <img  src="assets/homebutton/home.svg" > -->
                      <img   [ngClass]="{'filter': selected!='home'}"  src="assets/shipped3.png" >
                      
                     </ion-card>
                  <!-- <ion-card  color="light" padding>
                     <img (click)="home()"  src="assets/house.svg" >
                     
                    </ion-card>  -->
                 </ion-col>
                 <ion-col >
                    <ion-card  [color]="selected=='office' ? 'newsecondary' : 'darklight'" (click)="office()" padding>
                      <!-- <img src="assets/homebutton/office.svg" > -->
                      <img  [ngClass]="{'filter': selected!='office'}"   src="assets/shipped2.png" >
                      
                     </ion-card>
                 </ion-col>
                 <ion-col  >
                  <ion-card   [color]="selected=='truck' ? 'newsecondary' : 'darklight'" (click)="truck()" padding>
                    <img [ngClass]="{'filter': selected!='truck'}" src="assets/shipped.png" >
                    <!-- <img src="assets/homebutton/truck.svg" > -->
                    
                   </ion-card>                     
                  <!-- <ion-card color="light"   (click)="truck()" padding>
                     <img src="assets/shipped.png" >
                     
                    </ion-card>  -->
                 </ion-col>
            </ion-row>
        </ion-grid>
        <br *ngIf="dstate!='top'" >
        <br *ngIf="dstate!='top'" >
        <br *ngIf="dstate!='top'" >
        <br *ngIf="dstate!='top'" >
        
    </div>

      

<div *ngIf="selected==='truck'" style="background-color: #ffffff;"   >
    <!-- <ion-item-divider color="light"> 
        <ion-label>
        Choose the truck
        </ion-label>
      </ion-item-divider> -->
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-card  (click)="truckselect(1)"  [color]="selectedtruckid==1 ? 'primary' : ''" padding>
                 <img  src="assets/svgtruck/delivery-truck-06.svg" >
                 
                </ion-card> 
             </ion-col>
          <ion-col>
              <ion-card (click)="truckselect(2)"  [color]="selectedtruckid==2 ? 'primary' : ''"  padding>
                <img src="assets/svgtruck/delivery-truck-05.svg" >
                 
                </ion-card> 
             </ion-col>
          <ion-col>
              <ion-card (click)="truckselect(3)"   [color]="selectedtruckid==3 ? 'primary' : ''"  padding>
                <img src="assets/svgtruck/delivery-truck-04.svg" >
                 
                </ion-card> 
             </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-card  (click)="truckselect(4)"   [color]="selectedtruckid==4 ? 'primary' : ''"  padding>
                 <img src="assets/svgtruck/delivery-truck-03.svg" >
                 
                </ion-card> 
             </ion-col>
          <ion-col>
              <ion-card (click)="truckselect(5)"  [color]="selectedtruckid==5 ? 'primary' : ''"  padding>
                <img src="assets/svgtruck/delivery-truck-02.svg" >
                 
                </ion-card> 
             </ion-col>
          <ion-col>
              <ion-card (click)="truckselect(6)"  [color]="selectedtruckid==6 ? 'primary' : ''"  padding>
                <img src="assets/svgtruck/delivery-truck-01.svg" >
                 
                </ion-card> 
             </ion-col>
        </ion-row>
    </ion-grid>
  </div>
 

        <form *ngIf="selected==='home' || selected==='office'" style="background-color: #ffffff;" >

          <div *ngIf="selected=='office'" padding style="background-color: #ffffff;" >
            <ion-card class="flex-scroll" style="padding: 0px 10px 0px  20px; margin-left: 0px;" color="newblue"> 
              <img style="margin-top:17px; height:71px; width: 20px; " slot="start" src="assets/line2.png">
          <ion-card-header style=" width: 150px;  ">
          
          <ion-card-subtitle  *ngIf="this.global.from.city" style="font-size: 14px; font-weight:900; " >{{this.global.from.city}}</ion-card-subtitle>
          <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{this.global.from.state}}</p>
          <br>
          <ion-card-subtitle *ngIf="this.global.from.city"   style="font-size: 14px; font-weight:900; " >{{this.global.to.city}}</ion-card-subtitle>
          <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{this.global.to.state}}</p>
          
          </ion-card-header>  
          <div  style="float: left; height:70px;  width: 300px; margin-top:20px; margin-left:50px;    " lines="none">
          <ion-card-subtitle>&nbsp;total:</ion-card-subtitle>
          
          <span style="font-size: 40px; font-weight:900;">
               {{(km.value/1000).toFixed()}}
          </span>
          
          <span style="font-weight: 800; font-size:14px;">
              Kilometers
          </span>  
          
          </div>
          </ion-card >
           </div>
          <ion-card> 
              <ion-item-divider style="background-color:#68c721;">
                  <ion-label>
                   Pickup details
                  </ion-label>
                </ion-item-divider>
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
            
                <ion-item>
                    <ion-label>Floor</ion-label>
                    <ion-select name="pickupfloor" [(ngModel)]="formdata.pickupfloor"    placeholder="Select One">
                      <ion-select-option  selected value="0">Ground</ion-select-option>
                      <ion-select-option value="1">1st floor</ion-select-option>
                      <ion-select-option value="2">2nd floor</ion-select-option>
                      <ion-select-option value="3">3rd floor</ion-select-option>
                      <ion-select-option value="4">4th floor</ion-select-option>
                      <ion-select-option value="5">5th floor</ion-select-option>
                      <ion-select-option value="6">6th floor</ion-select-option>
                    </ion-select>
                  </ion-item>
                
                  <ion-item>
                    <ion-label>Service elevator</ion-label>
                    <ion-select name="pickupelevator" [(ngModel)]="formdata.pickupelevator"  value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="true">Yes</ion-select-option>
                      <ion-select-option value="false">No</ion-select-option>
                
                    </ion-select>
                  </ion-item>

                  
              <ion-item>
                  <ion-label>Pickup date</ion-label>
                  <ion-datetime  name="pickupdate" [(ngModel)]="formdata.pickupdate"  displayFormat="DD MMMM YY" value="2019-10-22T13:47:20.789"></ion-datetime>
                </ion-item>
    
              <ion-item >
                  <ion-label>Appointment date</ion-label>
                  <ion-datetime   name="pickupappointmentdate" [(ngModel)]="formdata.pickupappointmentdate"  displayFormat="DD MMMM YY"  value="2019-10-21T13:47:20.789"></ion-datetime>
                </ion-item>
      <ion-item lines="none" (click)="pickupcontact()">
                  <ion-label>Pickup Contact</ion-label>
                  <ion-note *ngIf="formdata.pickupcontact" slot="end">{{formdata.pickupcontact.name}}</ion-note>
                </ion-item>
    
    
            </ion-list>
          </ion-card>
         
          <ion-card> 
            <ion-item-divider style="background-color:#68c721;">
              <ion-label>
                   Drop details
                  </ion-label>  
                </ion-item-divider>
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
            
                <ion-item>
                    <ion-label>Floor</ion-label>
                    <ion-select name="dropfloor" [(ngModel)]="formdata.dropfloor" value="f" placeholder="Select One">
                        <ion-select-option  selected value="0">Ground</ion-select-option>
                      <ion-select-option value="1">1st floor</ion-select-option>
                      <ion-select-option value="2">2nd floor</ion-select-option>
                      <ion-select-option value="3">3rd floor</ion-select-option>
                      <ion-select-option value="4">4th floor</ion-select-option>
                      <ion-select-option value="5">5th floor</ion-select-option>
                      <ion-select-option value="6">6th floor</ion-select-option>
                    </ion-select>
                  </ion-item>
                
                  <ion-item >
                    <ion-label>Service elevator</ion-label>
                    <ion-select name="dropelevator" [(ngModel)]="formdata.dropelevator"  value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="true">Yes</ion-select-option>
                      <ion-select-option value="false">No</ion-select-option>
                
                    </ion-select>
                  </ion-item>
                  <ion-item lines="none" (click)="dropcontact()">
                    <ion-label>Drop Contact</ion-label>
                    <ion-note *ngIf="formdata.dropcontact" slot="end">{{formdata.dropcontact.name}}</ion-note>
                  </ion-item>
                
    
            </ion-list>
          </ion-card>
         
          
       >
          </form>
         <div style="background-color: white; height: 100px; width: 100%; margin-top: -24px;"></div>
    <ion-footer *ngIf="selected" style="bottom: 0px; position: fixed; background-color: white;">
        <div class="ion-padding" >
          <ion-button *ngIf="selected=='home'" expand="block" color="newblue" type="submit"  (click)="next()"  class="ion-no-margin"><span style="color: white;"> Continue</span></ion-button>
          <ion-button *ngIf="selected=='truck'" expand="block" color="newblue" type="submit"  (click)="truckt()"  class="ion-no-margin"><span style="color: white;"> Continue</span></ion-button>
          <ion-button *ngIf="selected=='office'" expand="block" color="newred" type="submit"  (click)="nexo()"  class="ion-no-margin"><span style="color: white;"> Continue</span></ion-button>
        </div>
       
    </ion-footer>
    
  </div> 
  </fiv-bottom-sheet-content>

</fiv-bottom-sheet>


<ng-template #dropcontent>
    <div padding>
      <ion-text color="light">
        <h1>Go Back</h1>
        <p>{{'Enter the drop location.' | uppercase}}</p>
      </ion-text>
      <ion-buttons>
        <ion-button (click)="drop.hide(); fab.show()" color="light" shape="round" fill="outline">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          PREVIOUS
        </ion-button>
        <ion-button color="light" shape="round" fill="outline" (click)="drop.hide()">
          FINISH
        </ion-button>
      </ion-buttons>
    </div>
  </ng-template>
  
  <ng-template #fabContent style="background-color: black">
    <div padding >
      <ion-text color="light">
        <h1>Enter pickup address</h1>
        <p>Enter the address of the pickup location</p>
      </ion-text>
      <ion-buttons>
        <ion-button color="light" shape="round" fill="outline" (click)="fab.hide(); drop.show()">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          NEXT
        </ion-button>
      </ion-buttons>
    </div>
  </ng-template>
  
  <ng-template #tourContent>
    <div padding >
      <ion-text color="light">
        <h1>Take the Tour</h1>
        <p>You can also build a little feature tour.</p>
      </ion-text>
    </div>
  </ng-template>