#map_canvas {
  width: 100%;
  height: 100%;
}

// .drawer-content {
//     border-top: 0.5px solid #e5e5e5;
//     padding: 10px;
//   }
.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
  .flex-scroll {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    ion-card {
      flex: 1 0 auto;
    }
  }
  fiv-bottom-sheet-content {
    --fiv-border-radius: 12px;
    --fiv-padding: 20px;
  }
  .flexo {
    display: flex;
    .flex {
      flex: 1 0 auto;
    }
  }
  