<ion-header transparent>
  <ion-toolbar>
    <ion-title>Login </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  .layout{
    /* background-image: linear-gradient(to top, #d299c254 0%, #fef9d757 100%); */
    background: linear-gradient(142deg,rgba(244, 59, 71, 0.12) 0%,rgb(26, 25, 27) 100%);
   
width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    display: inline-block;
    content: "";
  }
  /* <a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a> */
</style>
<ion-content >
  
  <div style="background-image: url('https://images.pexels.com/photos/2723623/pexels-photo-2723623.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); background-repeat: no-repeat; background-size: cover; height: 100%;"> 
    <div class="layout"></div>
  <ion-slides >
    <ion-slide style="margin-top: 50%; color: #fff;">
      <!-- <img src="https://ionicframework.com/docs/demos/api/slides/slide-2.png"/> -->
      <!-- <h2> <b>OTP Verification</b></h2> -->
      <form #form="ngForm" (ngSubmit)="login(form.value)">
          <ion-grid>
            <ion-row color="primary" justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding style="padding-top: -10%; z-index: 9999999999; font-size: 20px; font-size: 20px;
                font-weight: 800;
                text-transform: uppercase;letter-spacing: 3px;">
                <ng-container *ngIf="step=='1'">
                    <p>Enter  Mobile   Number</p>
                    <ion-input text-center  name="mobile" type="tel" placeholder="" value="+91" style="    font-size: 23px;
                    font-weight: 800;     border-bottom: 2px solid rgb(143, 90, 211); padding-top: -10%;
      " ngModel required></ion-input>
      </ng-container>
      <ng-container *ngIf="step=='2'">
          <p>Enter  OTP   Number</p>
                    <ion-row text-center class="otp"  >
                        
                      <ion-col>
                       <ion-input  #otp1 required maxLength="1" [(ngModel)]="otp.one"  name="one" (keyup)="otpController($event,otp2,'')">
                       </ion-input>
                       <ion-input #otp2 required maxLength="1" [(ngModel)]="otp.two"  name="two" (keyup)="otpController($event,otp3,otp1)">
                       </ion-input>
                       <ion-input #otp3 required maxLength="1" [(ngModel)]="otp.three"  name="three" (keyup)="otpController($event,otp4,otp2)">
                       </ion-input>
                       <ion-input #otp4  required maxLength="1" [(ngModel)]="otp.four"  name="four" (keyup)="otpController($event,'',otp3)">
                       </ion-input>
                      </ion-col>
                    </ion-row>  
                    </ng-container>        
              
                </div>
                <div padding  *ngIf="step=='1'" style="
                font-weight: 800;
                text-transform: uppercase;letter-spacing: 3px;">
                  <ion-button color="myred" size="large" type="submit" [disabled]="form.invalid" expand="block">GET OTP

                  </ion-button>

                  <br>
                  <p>We don't design clothes,  <b></b>  We design dreams.</p>

                </div>
                <div padding  *ngIf="step=='2'" style="font-weight: 800;text-transform: uppercase;letter-spacing: 3px;">
                  <ion-button color="myred"  size="large" [disabled]="form.invalid" expand="block" (click)="otpverify()">VERIFY & PROCEED
                      <ion-spinner style="margin-left: 40px;" color="white" *ngIf="spinner=='0'" name="crescent"></ion-spinner>
                  
                  
                  </ion-button>

                  <br>
                  <p>Elegance Is Not Standing out ,  <b></b>  But Being Remembered.</p>

                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
    </ion-slide>
  </ion-slides>
</div>
</ion-content>