ion-item{
    --background: #3880ff;
    --color: #fff;
  }
  ion-button{
    --background: #062f77;
  }
  .otp{
  
  
  ion-input{
      display:inline-block;
      width:50px;
      height:50px;
      margin:10px;
      --border-color: var(--ion-color-danger, #fff);
      --padding-start:7px;
      font-size: 23px;
      font-weight: 800;
      outline: 0;
      border-width: 0 0 10px;
      border-color: rgb(30, 27, 201);
      border-bottom: 2px solid rgb(143, 90, 211);
  
      }
      ion-input:focus {
          border-color: green
        }
  }
  .swiper-slide {
      display: block;
    }
    ion-slide > h2 {
      margin-top: 2.8rem;
    }
    ion-slide > img {
      max-height: 50%;
      max-width: 60%;
      margin: 36px 0;
    }