<ion-header>
  <ion-toolbar color="newblue">
      <ion-buttons slot="start">
          <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
        </ion-buttons>
    <ion-title>success</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="ion-padding">
  
    <ion-card-title style="margin-top: 20px ;text-align: center; ">Your Order has been Placed Succesfully</ion-card-title>
<div style="margin-top:60px;">
<lottie-animation-view 
[options]="lottieConfig"
[width]="200"
[height]="200"
>
<!-- (animCreated)="handleAnimation($event)" -->
</lottie-animation-view>
</div>
    <!-- <div style="margin-top: 50px" class="success-checkmark">
        <div class="check-icon">
          <span class="icon-line line-tip"></span>
          <span class="icon-line line-long"></span>
          <div class="icon-circle"></div>
          <div class="icon-fix"></div>
        </div>
      </div>  -->
      <ion-card-subtitle style="margin-top: 50px ;text-align: center;">Thanks for Shopping..</ion-card-subtitle>
      <ion-card-subtitle style="margin-top: 50px ;text-align: center; font-weight: 700; ">Orderid : {{orderid}} </ion-card-subtitle>
</ion-content>
<ion-footer color="newblue" style="background-color: #ff3e6c;">
    <div >
      <ion-grid >
        <ion-row>
          <ion-col col-12 style="text-align: center;">
           
                <ion-button    color="liteblue" type="submit"  [routerLink]="['/myhome/tabs/tab1']"  class="ion-no-margin"> <ion-icon name="home"></ion-icon> continue  Shopping</ion-button>
          </ion-col>
              
                   <!--<ion-col col-6>
            <ion-button    color="liteblue" type="submit"  [routerLink]="['/stepper']" class="ion-no-margin"><ion-icon name="barcode"></ion-icon> Track Order</ion-button>
          </ion-col> -->
        </ion-row>  

      </ion-grid>
    </div>
</ion-footer>

