<ion-app>
    <ion-split-pane>
      <!-- <ion-menu menuId="menuId" type="push"  [fivCollapseMenu]="false" [hoverMenu]="true" [width]="64" [minWidth]="240"
        [maxWidth]="240" #menu=menuCollapse>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <fiv-collapsable-menu-button #mb *fivIf="['desktop']" [menu]="menu"></fiv-collapsable-menu-button>
            </ion-buttons>
            <ion-title (click)="navigateRoot('/')" color="dark">Goshift</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <img src="https://5.imimg.com/data5/UK/GO/JP/SELLER-35064599/home-shifting-service-500x500.png" />
           List of Text Items
  <ion-list>
      <ion-menu-toggle auto-hide="false">
  
      <ion-item [routerLink]="['/mybookings']"  lines="none" >
        <ion-label class="sidemenuitems">MY BOOKINGS</ion-label>
      </ion-item>
    </ion-menu-toggle>
  
     
  
      <ion-item lines="none" >
        <ion-label class="sidemenuitems">F.A.Q</ion-label>
      </ion-item >
      <ion-item lines="none" >
        <ion-label class="sidemenuitems">CONTACT US</ion-label>
      </ion-item>
      <ion-item lines="none" >
        <ion-label class="sidemenuitems">TERMS AND CONDITIONS</ion-label>
      </ion-item>
      <ion-item lines="none" >
        <ion-label class="sidemenuitems">LOGOUT</ion-label>
      </ion-item>
   
    </ion-list>
    
        </ion-content>
        <ion-footer>
          <ion-toolbar color="transparent">
            
          </ion-toolbar>
        </ion-footer>
      </ion-menu> -->
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
  </ion-app>
  <style>
   .sidemenuitems{
     font-weight: 800;
  
   }
  </style>