<ion-header>
  <ion-toolbar >
   <p style="padding-left: 5px; font-weight:800 "> MM Silks</p>
   
        <ion-icon slot="end"  name="search" style="font-size: 25px; padding-right: 10px;" (click)="gosearch()"></ion-icon>
   <ion-icon slot="end"  name="heart" style="font-size: 25px; padding-right: 10px;"  (click)="gotowish()"></ion-icon>
  <fiv-icon (click)="gotocart()" *ngIf="global.storecartdetails" [off]="false" style="margin-right: 20px;" slot="end" [indicatorValue]="global.storecartdetails.count" [name]="'cart'"></fiv-icon>
  </ion-toolbar>
 
</ion-header>


<ion-content>
  <div *ngIf="loaded=='0'">
    <ion-grid>
        <ion-row >
          <ion-col size="4" style="height: 140px;" *ngFor="let x of [1,2,3,4,5,6]" >
            <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
          </ion-col>
          
        </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="loaded=='1'">
  <app-mmforcategory [data]="products">

  </app-mmforcategory>
  <!-- <app-mmforsubcategory [data]="subcategory">

    </app-mmforsubcategory> -->
</div>
</ion-content>
