<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
      </ion-buttons>
      <p style="padding-left: 10px; font-weight: 500;">Wallet</p>
      
</ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loaded=='0' && global.customerid && global.customerrole=='contributor'">
      <div class="card-background-page" style="height: 100px;">
          <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>

        </div>
      
      <div *ngFor="let x of [0,1,2,3]">
          <ion-item color="white">
            <ion-grid >
                    <ion-row >
                      <ion-col size="6" style="font-size: 10px;text-align: center;">
                        
                       
                        <div  style="height: 10px; color: #FFF;">
                          <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
          
                        </div>
                      </ion-col>
                      <ion-col size="6"  style="font-size: 10px;text-align: center;"> 
                        <div  style="height: 10px; color: #FFF;">
                          <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
          
                        </div>
                      </ion-col>
                   
                      
                    </ion-row>
                    </ion-grid>
                </ion-item>
          <ion-item style="width:100%" color="white"  lines="full" >
            <ion-thumbnail slot="start" style="height: 148px; width: 111px;">
              <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
      
            </ion-thumbnail>
          
            <ion-label class="ion-text-wrap">
              <ion-text >
                <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
      
              </ion-text>
              <ion-text >
                      <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
            
                    </ion-text>
                    <ion-text  >
                          <ion-skeleton-text animated style="width: 10%; height:100%"></ion-skeleton-text>
                
                        </ion-text>
          
                
            </ion-label>
           
           
          </ion-item> 
          <ion-item color="white">
          <ion-grid >
                  <ion-row >
                    <ion-col size="6" style="font-size: 10px;text-align: center;">
                      
                     
                      <div  style="height: 10px; color: #FFF;">
                        <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
        
                      </div>
                    </ion-col>
                    <ion-col size="6"  style="font-size: 10px;text-align: center;"> 
                      <div  style="height: 10px; color: #FFF;">
                        <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>
        
                      </div>
                    </ion-col>
                 
                    
                  </ion-row>
                  </ion-grid>
              </ion-item>
         
         </div>
  </div>
  <div *ngIf="loaded=='1'">
<ng-container *ngIf="global.customerid && role=='contributor' ">
    <div class="card-background-page">

        <ion-card>
            <ion-card-header style="color: rgb(255, 255, 255);">
                Your AD-PAY balance
              </ion-card-header>
          <div class="card-title" *ngIf="wallet!=null">{{wallet}}</div>
          <div class="card-title" *ngIf="wallet==null">0.00</div>
        </ion-card>
    
    
      </div>
    
     
          <div *ngIf="loaded=='1'">
              
              <ion-card style="width:100%;margin-left: 0px; margin-top: -7px;"    *ngFor="let x of orderdetails">
              <ion-item color="white">
                <ion-label >ID:{{x.id}}</ion-label>
                <ion-label style="margin-left: 60px;" slot="end">Date:{{x.date_created.substring(0, 10)}}</ion-label>
              
                </ion-item>  
                <ion-item  *ngFor="let y of x.line_items" color="white">
                    
                
                  <ion-avatar slot="start">
                  <img src="{{y.image}}">
                  </ion-avatar>
                  <ion-label>
                    <h1>{{y.name}}</h1>
                    <h2>Rs:{{y.price}}</h2>
                    <p>quantity:{{y.quantity}}</p>   <p></p>
                  </ion-label>
                 
                </ion-item>
                <ion-item color="white" *ngFor="let y of x.line_items">
                  
                <ion-button slot="start" color="white"   >Commision:{{(y.price/10).toFixed(0)}} </ion-button>
                 
                    <!-- <ion-button  slot="end" *ngIf="x.status!='cancelled'" color="light" [routerLink]="['/stepper/'+x.id]">Status&nbsp;: &nbsp;{{x.status}}</ion-button>
                    <ion-button expand="full" style="text-align: center;"  *ngIf="x.status=='cancelled'" color="light" [routerLink]="['/stepper/'+x.id]" style="margin-left: 30%;"> Order  {{x.status}}</ion-button> -->
              
                    <ion-button  slot="end" *ngIf="x.status!='cancelled'" color="white" >Status&nbsp;: &nbsp;{{x.status}}</ion-button>
                    <ion-button expand="full" style="text-align: center;"  *ngIf="x.status=='cancelled'" color="light"  style="margin-left: 30%;"> Order  {{x.status}}</ion-button>
                    
                    </ion-item>
              </ion-card>
              
             
              </div>
            </ng-container>

          </div>

      <ng-container *ngIf=" global.customerrole!='contributor' " >
       <div >
<img src="assets/landing1.jpg" alt=""  >
<img src="assets/landing2.jpg" alt="" style="margin-top: -5px;" >
<img src="assets/landing3.jpg" alt="" style="margin-top: -5px;">


       </div>
      </ng-container>
</ion-content>
<ion-footer *ngIf="role!='contributor'"  >
  
    <ion-button color="myred" expand="full" *ngIf="this.global.state!='1'"  expand="full" (click)="associate()"> Log In</ion-button>
    <ion-button color="myred" expand="full"  *ngIf="this.global.state=='1'" expand="full" (click)="associate()"> Become a Associate</ion-button>

</ion-footer>