.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      height: 130px;
      width: 100%;
      margin-left: 0px;
      margin-top: 3px;
      background-color: #f81894;
      color: #fff

    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 3.0em;
      width: 100%;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }