<ion-header>
  <ion-toolbar>
    <ion-title   *ngIf="ready==1">
      <span  *ngIf="type=='from'" >Pickup Address      </span>
      <span *ngIf="type=='to'" >Drop Address      </span>
      
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="end" mode="md" color="dark" name="close"></ion-icon>
      </ion-button>
      
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true"   (ionInput)="updateSearch()" (ionCancel)="dismiss()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" tappable   (click)="chooseItem(item)">
      
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>{{ item }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>