<div >
 
  <div style="margin-top: 20%;">
  <lottie-animation-view 
  [options]="lottieConfig"
  [width]="380"
  [height]="380"
  >
  <!-- (animCreated)="handleAnimation($event)" -->
  </lottie-animation-view>
  </div>
</div>