<!-- <app-header title="Stepper"></app-header> -->
<ion-header>
    <ion-toolbar  >
        <!-- <ion-buttons slot="start">
            <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
          </ion-buttons> -->
      <ion-title>Tracking</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-grid class="page-content" fixed>
    <ion-row>
      <ion-col size="12">
        <!-- <app-example [typescript]="'assets/docs/snippets/stepper/ts.md'" [css]="'assets/docs/snippets/stepper/css.md'" [api]="'assets/docs/snippets/stepper/api.md'" [html]="'assets/docs/snippets/stepper/html.md'" [title]="'Stepper'" [subtitle]="'Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut
          labore et dolore magna aliqua.'"> -->
          <ion-item-divider>
            <ion-label>My Orders</ion-label>
          </ion-item-divider>
          <!-- <ion-item line="none">
            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor.
          </ion-item> -->
          <div class="wrapper">
            <fiv-stepper #stepperV [mode]="'vertical'" (fivClick)="stepperV.open($event)">
              <fiv-step [title]="'Order Placed'" >
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle> Your Order is Placed</ion-card-subtitle>
                    <!-- <ion-card-title> Your Order is Placed </ion-card-title> -->
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <!-- <ion-button color="dark" (click)="stepperV.closeAll()">
                        Close
                      </ion-button>
                      <ion-button color="dark" (click)="stepperV.reset(0)">
                        reset
                      </ion-button>
                      <ion-button color="secondary" (click)="stepperV.completeStep(0)">
                        Complete
                      </ion-button> -->
                      <ion-button color="primary" (click)="stepperV.select(1)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
              <fiv-step [title]="'Shipped'" >
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Shipped From</ion-card-subtitle>
                    <!-- <ion-card-title>Shipped From </ion-card-title> -->
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="dark" (click)="stepperV.select(0)">
                        Previous
                      </ion-button>
                      <ion-button color="primary" (click)="stepperV.select(2)">
                        NEXT
                      </ion-button>
                      
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
              <fiv-step [title]="'Delivered'" >
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Your Order Is  Delivered</ion-card-subtitle>
                    <!-- <ion-card-title>Your Order Is  Delivered</ion-card-title> -->
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="dark" (click)="stepperV.select(1)">
                        Previous
                      </ion-button>
                      <ion-button color="dark" (click)="stepperV.closeAll()">
                          Close
                        </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
            </fiv-stepper>
          </div>
          <!-- <ion-item-divider>
            <ion-label>Horizontal Stepper</ion-label>
          </ion-item-divider> -->
          <!-- <ion-item line="none">
            Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor.
          </ion-item> -->
          <!-- <div class="wrapper">
            <fiv-stepper #stepper [mode]="'horizontal'">
              <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
                <ion-card class="card-horizontal">
                  <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="primary" (click)="stepper.select(1)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
              <fiv-step [title]="'Address'" [subtitle]="'Please enter your adress'">
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>

                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="dark" (click)="stepper.select(0)">
                        Previous
                      </ion-button>
                      <ion-button color="primary" (click)="stepper.select(2)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
              <fiv-step [title]="'Awesome Title'" [subtitle]="'Awesome Subtitle'">
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
                    <ion-card-title>Awesome Title</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <ion-toolbar>
                    <ion-buttons slot="end">
                      <ion-button color="dark" (click)="stepper.select(1)">
                        Previous
                      </ion-button>
                      <ion-button color="primary" (click)="stepper.select(0)">
                        NEXT
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-card>
              </fiv-step>
            </fiv-stepper>
          </div> -->
        <!-- </app-example> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  
  
</ion-content>
<ion-footer color="newblue" style="background-color: #475ade;">
    <div >
      <ion-grid>
        <ion-row>
           
                <ion-button  expand="block" style="margin-left: 25%;"  color="liteblue" type="submit"  [routerLink]="['/myhome/tabs/tab1']"  class="ion-no-margin"> <ion-icon name="home"></ion-icon> continue  Shopping</ion-button>
         
            <!-- <ion-button    color="liteblue" type="submit"  [routerLink]="['/stepper']" class="ion-no-margin"><ion-icon name="barcode"></ion-icon> Track Order</ion-button> -->
        </ion-row>
      </ion-grid>
    </div>
</ion-footer>