<div class="bsc-wrapper">
  <span color="dark"   (click)="click()" *ngIf="currentState !== states.Top && handle"
    [fivCenter]="{vertical: false, horizontal: true}" class="handle"></span>
  <div color="dark"   [ngClass]="{'margin': handle}" class="content">
    <ion-content  color="dark"  [scrollY]="currentState === 2 && shouldBounce && !panning">
      <ng-content>

      </ng-content>
    </ion-content>

  </div>
</div>