:host {
  background-color:#0b0732;

  display: block;
  width: 100%;
  height: 100%;
  --fiv-border-radius: 12px;
  --fiv-padding: 20px;
  padding-top: var(--fiv-padding);
}

.bsc-wrapper {
  background-color:#0b0732;

  border-color: #0b0732;
  width: 100%;
  height: 100%;
}

:host.rounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.handle {
  display: block;
  background: var(--ion-color-light);
  border-radius: 12px;
  top: 8px;
  width: 32px;
  height: 8px;
  position: absolute;
}

.content {
  border-color: #0b0732;
  height: 100%;
}
