<ion-header>
  <ion-toolbar>
    <ion-title>mmaddress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card style="background-image: url('../assets/mm1.jpg'); height: 22%; background-repeat: no-repeat; background-size: cover; border-bottom-right-radius: 32%; border-bottom-left-radius: 32%; zoom: 0.2; ">


  </ion-card>
  <!-- <ion-card style="background-color: #fff;margin-top: 30%; position: absolute; width: 83%; margin-top: -20%;margin-left: 35px;">
      <ion-grid>
          <ion-row>
            <ion-col>
                <p>Aravindh</p>
            </ion-col>
            <ion-col>
                <p>Aravindh</p>
            </ion-col> 
            </ion-row>
            </ion-grid>
    
      
    
      </ion-card> -->
      




  <ion-list>
    <!-- <ion-item  [routerLink]="['/address/']">
      <ion-icon name="home" style="font-size: 20px; padding-right: 10px;"></ion-icon>
      <ion-label style="font-size: 14px; font-weight: 700;">Address</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person" style="font-size: 20px; padding-right: 10px;"></ion-icon>
      <ion-label style="font-size: 14px; font-weight: 700;">Account</ion-label>
    </ion-item> -->
    <ion-item [routerLink]="['/myorders/']">
      <ion-icon name="gift" style="font-size: 20px; padding-right: 10px;"></ion-icon>
      <ion-label style="font-size: 14px; font-weight: 700;">My Orders</ion-label>
    </ion-item>
    <ion-item   (click)="call()" >
      <ion-icon name="contact" style="font-size: 20px; padding-right: 10px;"></ion-icon>
      <ion-label style="font-size: 14px; font-weight: 700;">Contact Us</ion-label>
    </ion-item>
    <ion-item  [routerLink]="['/mmwishlist']">
      <ion-icon name="heart" style="font-size: 20px; padding-right: 10px;"></ion-icon>
      <ion-label style="font-size: 14px; font-weight: 700;">WishList</ion-label>
    </ion-item>
    <ion-item *ngIf="!this.global.customerid"  (click)="login()">
        <ion-icon style="font-size: 20px; padding-right: 10px;" name="log-in"></ion-icon>
      <ion-label style="font-size: 14px; font-weight: 700;">Log In</ion-label>
    </ion-item>
    <ion-item *ngIf="this.global.customerid"  (click)="logout()">
        <ion-icon  style="font-size: 20px; padding-right: 10px;" name="log-out"></ion-icon>
        <ion-label style="font-size: 14px; font-weight: 700;">Log Out</ion-label>
      </ion-item>
    <!-- <ion-item [routerLink]="['/share']"  >
      <ion-icon name="heart" style="font-size: 20px; padding-right: 10px;"></ion-icon>
      <ion-label style="font-size: 14px; font-weight: 700;">Share</ion-label>
    </ion-item> -->
    <!-- <ion-item [routerLink]="['/mmwallet/']">
      <ion-icon name="wallet" style="font-size: 20px; padding-right: 10px;"></ion-icon>
      <ion-label style="font-size: 14px; font-weight: 700;">Wallet</ion-label>
    </ion-item> -->

    <!-- <ion-item lines="none" >
        <ion-label>
     Get In Touch
        </ion-label>
      </ion-item>
        <ion-item lines="none"  >
      <ion-label style="padding-left: 10%;">
          Phone: +91 91761 48080
  
      </ion-label>
        </ion-item> -->
  </ion-list>
  
</ion-content>
