  <ion-item style="width:100%" color="white"  lines="full" *ngIf="loaded==1"  (click)="detail(id)">
  
  <ion-thumbnail slot="start" style="height: 148px; width: 111px;">
    <img src="{{img}}">
  </ion-thumbnail>
  <ion-label class="ion-text-wrap">
    <ion-text >
      <h3 style="font-weight: 800; margin-bottom: 15px !important;">{{name}}</h3>
    </ion-text>
    <p style="height:35px; margin-bottom: 10px !important;">{{description}}</p>    
    <ion-grid>
      <ion-row style="margin-bottom: 10px;">
        <ion-col size="4" style="font-size: 6px; font-weight:300; text-align: left; background-color:rgba(187, 149, 149, 0.349);  ">
          
         
             <p style="font-weight: 800;"> Size: </p>
        </ion-col>
        <ion-col size="2" style="font-size: 6px; font-weight:300; text-align: left; ">
          
         
        </ion-col>
           
      
        <ion-col size="4" style="font-size: 6px; font-weight:300; text-align: left;  background-color:rgba(187, 149, 149, 0.116); ">
          
         
          <p style="font-weight: 800;" (click)="close($event)"> Qyt: {{itemcount}}</p>
     </ion-col>
          <ion-col size="2" style="font-size: 6px; font-weight:300; text-align: left; ">
          
         
     </ion-col>
        
      </ion-row>
      </ion-grid>
      <ion-select [(ngModel)]="itemcount" (ionChange)="updatecount()" #count [hidden]='showcountselect'  value="brown" okText="Okay" cancelText="Dismiss" style="z-index: 9999999999999999999999999999">
        <ion-select-option  value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
      </ion-select>

<div style="height: 3px;">

</div>
       <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700;  margin-left:0px; color:black; "> ₹ {{price}} <del  style="font-size:13px;  color:rgb(145, 136, 125);" *ngIf="delprice>price">₹ {{delprice}}</del></p>

  </ion-label>

</ion-item> 
 <ion-item style="width:100%" color="white"  lines="full">
  
  <ion-grid>
    <ion-row >
        <ion-col size="12" style="font-size: 12px; font-weight:800; text-align: center; " *ngIf="stock=='outofstock'" (click)="rm($event)">
        
       
            <p style="font-weight: 800;"> REMOVE</p>
       </ion-col>
      <ion-col size="4" style="font-size: 12px; font-weight:800; text-align: center; " *ngIf="stock!='outofstock'" (click)="rm($event)">
        
       
           <p style="font-weight: 800;"> REMOVE</p>
      </ion-col>
      <ion-col size="1"  style="font-size: 23px;text-align: center; font-weight: 200 !important ;  margin-top: 5px; opacity:0.3 !important;"> 
          |
      </ion-col>
    
      <ion-col size="7" style="font-size: 12px; font-weight:800; text-align: center; " *ngIf="stock!='outofstock'"(click)="saving($event)" >
        
       
        <p style="font-weight: 800;"> MOVE TO WISHLIST</p>
   </ion-col>
      
    </ion-row>
    </ion-grid>
</ion-item>
<div style="height:3px;">

</div>


<!-- <ion-card *ngIf="loaded==1" style="background-color: #fff;" (click)="detail(id)" >
  <img src="{{img}}" style="float: right; width: 35%; height: 183px; padding-top: 4%; margin-right: 6%; " alt="">
  <div style="margin-left: 4%;">
    <p text-wrap style="color:black ;  font-size: 20px; font-weight: 600; padding:0%;"> {{name}}</p>
    <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700;  margin-left:0px; color:black; "> Rs-{{price}} <del  style="font-size:13px;  color:rgb(145, 136, 125);" *ngIf="delprice>price">{{delprice}}</del></p>
    <ion-item lines="none" color="arvi">
        <ion-button (click)="close($event)" size="small">Qty. :{{itemcount}} </ion-button>

        <ion-select [(ngModel)]="itemcount" (ionChange)="updatecount()" #count [hidden]='showcountselect'  value="brown" okText="Okay" cancelText="Dismiss" style="z-index: 9999999999999999999999999999">
          <ion-select-option  value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
        </ion-select>
      </ion-item> -->
      <!-- <p *ngIf="stockquantity < itemcount" > {{stockquantity}} product is left</p>
      <br  *ngIf="stock!='outofstock'" > -->
<!-- <p text-wrap  *ngIf="stock!='outofstock'">{{description}}</p>
<p text-wrap  *ngIf="description==''">{{name}}</p> -->
<!-- <br *ngIf="description!=null"> -->
<!-- <p text-wrap  *ngIf="stock=='outofstock'"> product is  unavailable</p>


  </div>
  
  <div  >
    <ion-button size="small" *ngIf="stock!='outofstock'"(click)="saving($event)" style="width: 45%; margin-right: 2%;margin-left: 4%;"><ion-icon name="heart-empty" style="padding-right: 5%;"></ion-icon>Save For Later</ion-button>
    <ion-button size="small" *ngIf="stock!='outofstock'" (click)="rm($event)" style="width: 45%;"><ion-icon name="trash" style="padding-right: 5%;"></ion-icon>Remove</ion-button>
    <ion-button size="small" expand="full" (click)="rm($event)" *ngIf="stock=='outofstock'" style="width: 100%; margin-left: 0px; margin-bottom: 0px;" ><ion-icon name="trash" style="padding-right: 5%;"></ion-icon>Remove</ion-button>

  </div>
</ion-card> -->
