<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
      </ion-buttons>
      <p style="padding-left: 10px; font-weight: 500;" *ngIf="loaded=='1'">{{productdetail.name.substring(0, 14).toUpperCase()}}..</p>
      <ion-icon slot="end"  name="search" style="font-size: 25px; padding-right: 10px;" (click)="gosearch()"></ion-icon>
      <ion-icon slot="end"  name="heart" style="font-size: 25px; padding-right: 10px;"  (click)="gotowish()"></ion-icon>
     <fiv-icon (click)="gotocart()" *ngIf="global.storecartdetails.count" [off]="false" style="margin-right: 20px;" slot="end" [indicatorValue]="global.storecartdetails.count" [name]="'cart'"></fiv-icon>
   </ion-toolbar>
</ion-header>




<ion-content>
    <div *ngIf="loaded=='0'">
      <ion-slides style="height: 300px;" class="detailslide" > 
        <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>

      </ion-slides>
      <ion-card  class="detail">
          
        <!-- <ion-item-divider *ngIf="productdetail.stock_status=='outofstock'">
          <p>This Product  is Currently Unavailable</p>
        </ion-item-divider> -->
      <!-- Item Dividers in a List -->
      <ion-list >
        <ion-item-divider  style="background-color: #fff;">
          <ion-skeleton-text animated style="width: 70%; "></ion-skeleton-text>

        </ion-item-divider> 
          <ion-item-divider  style="background-color: #fff;">
            <ion-skeleton-text animated style="width: 30%; height:30px; "></ion-skeleton-text>

        </ion-item-divider>

        <ion-item-divider  style="background-color: #fff;">
          <ion-skeleton-text animated style="width: 60%; "></ion-skeleton-text>

        </ion-item-divider> 
         <ion-item-divider  style="background-color: #fff;">
          <ion-skeleton-text animated style="width: 90%; "></ion-skeleton-text>

        </ion-item-divider> 
         <ion-item-divider  style="background-color: #fff;">
          <ion-skeleton-text animated style="width: 90%; "></ion-skeleton-text>

        </ion-item-divider>  
        <ion-item-divider  style="background-color: #fff;">
          <ion-skeleton-text animated style="width: 90%; "></ion-skeleton-text>

        </ion-item-divider>
      
         
        <ion-grid>
          <ion-row >
            <ion-col size="2" style="font-size: 10px;text-align: center;">
              
             
              <div  style="height: 30px;; border-radius: 5em / 5em; color: #FFF;">
                <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>

              </div>
            </ion-col>
            <ion-col size="2"  style="font-size: 10px;text-align: center;"> 
              <div  style="height: 30px;; border-radius: 5em / 5em; color: #FFF;">
                <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>

              </div>
            </ion-col>
            <ion-col size="2" style="font-size: 10px;text-align: center;">
              <div  style="height: 30px;; border-radius: 5em / 5em; color: #FFF;">
                <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>

              </div>
            </ion-col>
            <ion-col size="6">
              <div  style="height: 30px;; border-radius: 5em / 5em; color: #FFF;">
                <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>

              </div>
            </ion-col>
            
          </ion-row>
          </ion-grid>  

        <ion-grid>
          <ion-row >
            <ion-col size="6" style="font-size: 10px;text-align: center;">
              
             
              <div  style="height: 130px;; border-radius: 2em / 2em; color: #FFF;">
                <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>

              </div>
            </ion-col>
            <ion-col size="6"  style="font-size: 10px;text-align: center;"> 
              <div  style="height: 130px;; border-radius: 2em / 2em; color: #FFF;">
                <ion-skeleton-text animated style="width: 100%; "></ion-skeleton-text>

              </div>
            </ion-col>
         
            
          </ion-row>
          </ion-grid>
     
       
      </ion-list>
      
   
    
    
    </ion-card>
      </div>
    <div style="background-color: white" *ngIf="loaded=='1'">
        <ion-slides style="height: 300px;" class="detailslide" > 
          <ng-container  >
          <!-- <ion-slide  [ngStyle]="{ 'background-image': 'url(https://mmsilks.com/wp-content/uploads/2019/10/DSC0532.jpg)'} " style="background-size: cover; height:400px; align-content: center; width: 100%;" > -->
          <ion-slide  style="background-size: cover;  align-content: center; width: 100%;" *ngFor="let x of productdetail.images">
        <img src="{{x.src}}" >
        
          </ion-slide>
        </ng-container>
        </ion-slides>
        
        <ion-card  class="detail">
          
            <!-- <ion-item-divider *ngIf="productdetail.stock_status=='outofstock'">
              <p>This Product  is Currently Unavailable</p>
            </ion-item-divider> -->
          <!-- Item Dividers in a List -->
          <ion-list >
            <ion-item-divider  style="background-color: #fff;">
              <p style="font-size: 17px; font-weight:500; color: black; padding-top: 15px;">
               {{productdetail.name  | titlecase }}
              </p>
           
            </ion-item-divider>
          
            <ion-item-divider  style="background-color: #fff;">
              <p >
                <span style="font-size: 14px; font-weight:600 ; color: #000; font-size: 16px;">₹{{productdetail.price}} </span> <del style="font-size: 12px; font-weight:400;" *ngIf="productdetail.regular_price>productdetail.price">₹{{productdetail.regular_price}}</del> 
                <br>
                <br>
                  <span style="font-size: 12px; font-weight:500; color: #000;">Inclusive of all taxes</span>
              </p>
            </ion-item-divider>
          
             
           
            
            
          
            <ion-item-divider  style="background-color: #fff;">
              <p style="font-size: 13px; font-weight:600; color: #000;">
             Product details
                  </p>
            </ion-item-divider>
        
            <ion-item-divider  style="background-color: #fff;">
              <p style="font-weight:400; color: #000; font-size: 14px;">
                  {{productdetail.short_description}} </p>
                 
            </ion-item-divider>
         
        
          
             
            <div style="background-color: white; height: 3px;">
            
            </div>
         
           
          </ion-list>
          
          <ion-grid>
              <ion-row >
                <ion-col size="2" style="font-size: 10px;text-align: center;">
                  
                 
                        <ion-icon  style="border-radius: 50%; border: solid 1px #000; padding: 7px;" name="md-arrow-round-down"></ion-icon>
                     <p style="font-weight: 400;"> Download</p>
                </ion-col>
                <ion-col size="2"  style="font-size: 10px;text-align: center;"> 
                    <ion-icon  style="border-radius: 50%; border: solid 1px #000; padding: 7px;" name="logo-facebook"></ion-icon>
                   <p style=" font-weight: 400;">Facebook</p> 
                </ion-col>
                <ion-col size="2" style="font-size: 10px;text-align: center;">
                    <ion-icon (click)="share()" style="border-radius: 50%; border: solid 1px #000; padding: 7px;" name="md-share"></ion-icon>
                      <p style=" font-weight: 400;"> Others</p>
                </ion-col>
                <ion-col size="6">
                  <div  style="background-color: #4fca5d;  padding: 10px; border-radius: 5em / 5em; color: #FFF;">
                    <ion-icon  style=" margin-left: 15px; display: inline-block; font-size: 25px;" name="logo-whatsapp"></ion-icon>
                 <span style=" margin-left: 10px; font-size: 16px; font-weight: 400; position: absolute; margin-top: 5px; "> Share Now</span>
                  </div>
                </ion-col>
                
              </ion-row>
              </ion-grid>
                      
        
        
        </ion-card>
       

        <div *ngIf="preorderstatus=='Enable'">
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input  [(ngModel)]="preordername"></ion-input>
              </ion-item>
              <ion-button expand="block" type="submit"  (click)="preordering()">Submit</ion-button>

        </div>

        <!-- <div  *ngIf="productdetail.featured==false">
          <p>featured product</p>

        </div> -->
      </div>
  
      <ion-item-divider  style="background-color: #fff;margin-top: 35px;" *ngIf="loaded=='1'&& related">
          <p style="font-size: 13px; font-weight:600; color: #000;">
        Similar Product
              </p>
        </ion-item-divider>
      <app-mmproductlist *ngIf="related" [data]="related">

      </app-mmproductlist>
</ion-content>

<ion-footer color="newblue" style="background-color: #ffffff;" *ngIf="loaded=='1'">

    <div *ngIf="productdetail.stock_status!='outofstock'" >
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngIf="count=='0'" (click)="wishlist()">
            <ion-button *ngIf="wishlisted=='0'" expand="block"   fill="outline"  style="font-size: 14px; font-weight:600;"  color="myred" type="submit"  class="ion-no-margin">     
                         <ion-icon slot="icon-only" name="heart-empty" style="margin-right: 4px; height:23px"></ion-icon>
                         
             WISHLIST</ion-button>
             <ion-button *ngIf="wishlisted=='1'" expand="block"  fill="outline"   style="font-size: 14px; font-weight:600;"  color="myred" type="submit"  class="ion-no-margin">     
                <ion-icon slot="icon-only" name="heart" color="danger" style="margin-right: 4px; height:23px"></ion-icon>
                
    WISHLISTED</ion-button>

          </ion-col>
          
          <ion-col col-6 *ngIf="count=='0'">
            <ion-button expand="block"style="font-size: 14px; font-weight:600;" [disabled]="cartbuttonloading=='0'"   *ngIf="count=='0'" color="myred" type="submit" (click)="add()"  class="ion-no-margin">
              <ion-icon  *ngIf="cartbuttonloading=='1'" slot="icon-only" name="cart"></ion-icon>
              <ion-spinner *ngIf="cartbuttonloading=='0'"  name="crescent"></ion-spinner>
              <span *ngIf="cartbuttonloading=='0'">&nbsp;&nbsp; ADDING .. </span> <span *ngIf="cartbuttonloading=='1'">&nbsp;&nbsp; ADD TO CART </span></ion-button>
              <!-- <ion-button  [routerLink]="['/mmnewcarts/']"  expand="block" style="font-size: 14px; font-weight:600;" *ngIf="count!='0'" color="success" type="submit"  class="ion-no-margin">
              <ion-icon slot="icon-only" name="cart"></ion-icon>
              &nbsp;&nbsp; GO TO CART</ion-button> -->

          </ion-col> 
          <ion-col col-12 *ngIf="count!='0'" >
            
              <ion-button style="  transition: all 1s ease-in-out !important;
              "  [routerLink]="['/mmnewcarts/']"  expand="block" style="font-size: 14px; font-weight:600;" color="myred" type="submit"  class="ion-no-margin">
              <ion-icon slot="icon-only" name="cart"></ion-icon>
              &nbsp;&nbsp; GO TO CART</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
    <div *ngIf="productdetail.stock_status=='outofstock'" >
        <ion-button  expand="full" color="myred" style="text-align: center;"  >Currently Unavailable</ion-button>

    </div>
    
</ion-footer>



<fiv-dialog (fivClose)="close()" [pullEnabled]="pull" (fivDurationOver)="dialog.close()" [inDuration]="inDuration"
  [outDuration]="outDuration" #dialog [duration]="duration" [shape]="shape" [horizontalAlign]="horizontalAlign"
  [verticalAlign]="verticalAlign" [backdrop]="backdrop">

 
  <ion-card-content>
      <ion-card-subtitle>Choose size</ion-card-subtitle>

      <ion-item lines="none">
          <ion-button size="small" shape="round">Xl</ion-button>
          <ion-button size="small" shape="round">XXl</ion-button>
          <ion-button size="small" shape="round">XXl</ion-button>
          <ion-button size="small" shape="round">XXl</ion-button>
          <ion-button size="small" shape="round">XXl</ion-button>

        </ion-item> 
       
        <!-- <ion-grid>
           
              <ion-item lines="none">
                      <ion-button (click)="countselect.open()" size="small">Qty. : 1</ion-button>

                      <ion-select #count [hidden]='showcountselect'  value="brown" okText="Okay" cancelText="Dismiss" style="z-index: 9999999999999999999999999999">
                        <ion-select-option value="brown">8</ion-select-option>
                        <ion-select-option value="blonde">9</ion-select-option>
                        <ion-select-option value="black">11</ion-select-option>
                        <ion-select-option value="red">Red</ion-select-option>
                      </ion-select>
                    </ion-item>
            <ion-row>
              <ion-col col-6>
                 
              </ion-col>
              <ion-col col-6>
                 
              </ion-col>
             
            </ion-row>
          </ion-grid> -->
  </ion-card-content>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dialog.close()">
        Cancel
      </ion-button>
      <ion-button color="primary">
        Do Action
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</fiv-dialog>