.detailslide{
    position: relative;
}
.detail{
  position: relative;
  width: 100%;
  margin: 0px;
  border-radius: 15px 15px 0px 0px;
  // margin-top: -2px;
  // z-index: 999999999;

}
.carts{
  display: inline-block;
  width: 20%;
font-size: 20px;
}
.hearts{
    display: inline-block;
    width: 20%;
  font-size: 20px;
}
:root {
  --ion-color-myred: #ff3e6c;
  --ion-color-myred-rgb: 255,62,108;
  --ion-color-myred-contrast: #ffffff;
  --ion-color-myred-contrast-rgb: 255,255,255;
  --ion-color-myred-shade: #e0375f;
  --ion-color-myred-tint: #ff517b;
}

.ion-color-myred {
  --ion-color-base: var(--ion-color-myred);
  --ion-color-base-rgb: var(--ion-color-myred-rgb);
  --ion-color-contrast: var(--ion-color-myred-contrast);
  --ion-color-contrast-rgb: var(--ion-color-myred-contrast-rgb);
  --ion-color-shade: var(--ion-color-myred-shade);
  --ion-color-tint: var(--ion-color-myred-tint);
}