  <!-- <div class="flex">
  <ion-card class="categorythree" *ngFor="let arr of data"
    style="margin-bottom: 6%; height: 250px; background-size: cover; "
    [ngStyle]="{ 'background-image': 'url(' + arr.images[0].src + ')'} " (click)="productdetail(arr.id)" >
    <ion-buttons>

      <ion-icon class="heart" name="heart-outline"></ion-icon>


    </ion-buttons>

    <p style=" position: absolute;  top: 85%; margin-left: 2%; color: #fff; font-size: 17px; font-weight: 600; ">
      {{arr.name.substring(0, 14)}}</p>
    
    <p style=" position: absolute; top: 78%; margin-left: 2%; color: #fff; font-size: 15px;">Rs-{{arr.price}}</p>
  </ion-card>
</div> -->

  <div class="flex">
  
<ion-card  *ngFor="let arr of data" (click)="productdetail(arr.id)"    class="listcard" style="height:300px; display: inline-block; width: 47%; margin:5px 5px 5px 5px !important; background-color: #fff;">
  <ion-card-header  style="height:200px; overflow: hidden;">
    <img style="
    bottom:1%;
    margin:auto;" src="{{arr.images[0].src}}"  />
  </ion-card-header>
<ion-card-header   style="width:100%; margin: 10px;" >
  <ion-card-subtitle style="margin-left:-15px;   font-weight:700;font-size:13.5px; height:30px; overflow:hidden;">{{arr.name.substring(0, 40)}}</ion-card-subtitle>
  <!-- <br *ngIf=" name.length<15"/> -->
  <ion-card-title style="font-size:15px; width:100%; color:rgb(170, 118, 118); font-weight:700;  margin-left:-15px; color:black; float:left; margin-top: 5px; margin-bottom: 20px;">₹{{arr.price}} <del *ngIf="arr.price<arr.regular_price" style="font-size:13px;  color:rgb(145, 136, 125);" > ₹{{arr.regular_price}}</del>
    <!-- <ion-buttons style="float: right; font-size: 23px; "  (click)="wishlist($event)"   > 
      <ion-icon *ngIf="wishlisted==0" name="heart-empty" ></ion-icon>
      <ion-icon  name="heart" *ngIf="wishlisted==1" color="danger" ></ion-icon>
      
    </ion-buttons>-->
  </ion-card-title>
 
</ion-card-header>

</ion-card>

</div>

<!-- <div class="flex">
    <app-forproductlist class="listcard" *ngFor="let x of data"  [img]="x.images[0].src" [id]="x.id" [stock]="x.stock_status" [name]="x.name" [price]="x.price" [delprice]="x.regular_price" >

    </app-forproductlist>
</div> -->

