.flex{
   
    display: flex;
    overflow-x:scroll;
    width: 100%;
    ion-card {
        margin-top: 20px;
        flex: 1 0 auto;
    }
}

.categorythree{
position: relative;
overflow:visible ;
display: inline-block;
width: 50%;
height: 50%;
border-radius: 10px;
margin-left: 5%;
}
.cart{

position: absolute;
left: 85%;
z-index: 99999999;
margin-top: 50%;
border-radius: 50%;
background-color: red;
color: #fff;

}
.heart{
position: absolute;
margin-top: 40%;
font-size: 30px;
left: 6%;
color: #fff;


}