<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
        </ion-buttons>
        <p style="padding-left: 10px; font-weight: 500;">{{categoryname.toUpperCase()}}</p>
        <ion-icon slot="end"  name="search" style="font-size: 25px; padding-right: 10px;" (click)="gosearch()"></ion-icon>
        <ion-icon slot="end"  name="heart" style="font-size: 25px; padding-right: 10px;"  (click)="gotowish()"></ion-icon>
       <fiv-icon (click)="gotocart()" *ngIf="global.storecartdetails" [off]="false" style="margin-right: 20px;" slot="end" [indicatorValue]="global.storecartdetails.count" [name]="'cart'"></fiv-icon>
  </ion-toolbar>
</ion-header>

<ion-content bounce has-bouncing="true" forceOverscroll="false" >
    <div *ngIf="loaded=='0'">
      <div *ngFor="let x of [0,1,2,3]">
         
      <ion-item style="width:100%" color="white"  lines="full" >
        <ion-thumbnail slot="start" style="height: 148px; width: 111px;">
          <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
  
        </ion-thumbnail>
      
        <ion-label class="ion-text-wrap">
          <ion-text >
            <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
  
          </ion-text>
      <div style="height: 3px;">
        <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
  
      </div>
            
        </ion-label>
      </ion-item> 
       <ion-item style="width:100%" color="white"  lines="full" >
        <ion-thumbnail slot="end" style="height: 148px; width: 111px;">
          <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
  
        </ion-thumbnail>
      
        <ion-label class="ion-text-wrap">
          <ion-text >
            <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
  
          </ion-text>
      <div style="height: 3px;">
        <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
  
      </div>
            
        </ion-label>
      </ion-item> 
      
     
     </div>
    </div>

  <div *ngIf="loaded=='1'">
    




  <app-mmforsubcategory [data]="subcategory">

  </app-mmforsubcategory>
</div>

</ion-content>
