
<ion-card   (click)="productdetail(id)"    class="listcard" style="height:300px; display: inline-block; width: 47%; margin:5px 5px 5px 5px !important; background-color: #fff;">
        <ion-card-header  style="height:200px; overflow: hidden;">
          <img style="
          bottom:1%;
          margin:auto;" src="{{img}}"  />
        </ion-card-header>
      <ion-card-header   style="width:100%; margin: 10px;" >
        <ion-card-subtitle style="margin-left:-15px;   font-weight:700;font-size:13.5px; height:30px; overflow:hidden;">{{name.substring(0, 40)}}</ion-card-subtitle>
        <!-- <br *ngIf=" name.length<15"/> -->
        <ion-card-title style="font-size:15px; width:100%; color:rgb(170, 118, 118); font-weight:700;  margin-left:-15px; color:black; float:left; margin-top: 5px; margin-bottom: 20px;">₹{{price}} <del *ngIf="price<delprice" style="font-size:13px;  color:rgb(145, 136, 125);" > ₹{{delprice}}</del>
          <ion-buttons style="float: right; font-size: 23px; "  (click)="wishlist($event)"  > 
            <ion-icon *ngIf="wishlisted==0" name="heart-empty" ></ion-icon>
            <ion-icon  name="heart" *ngIf="wishlisted==1" color="danger" ></ion-icon>
           
          </ion-buttons>
        </ion-card-title>
       
      </ion-card-header>
    
      </ion-card>
    