.heart{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('https://files.slack.com/files-pri/TBEV01G0N-FMLMG7143/heart__1_.png') no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }
  
  .add {
    animation: add-to-wishlist 1s steps(22);
    background-position: -1320px 0;
    transition: background 1s steps(22);
  }
  
  .remove {
    background-position: -1680px 0;
    transition: background 1s steps(3);
    animation: remove-from-wishlist 1s steps(3);
  }
  
  @keyframes add-to-wishlist {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -1320px 0;
    }
  }
  
  @keyframes remove-from-wishlist {
    0% {
      background-position: -1320px 0;
    }
    100% {
      background-position: -1680px 0;
    }
    
  }
  .badge{
    content:'';
    top:0;
    transform:translateX(100%);
    width:100%;
    height:20px;
    position: absolute;
    z-index:1;
    animation: slide 1s infinite;

/* animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}
}
  