<!-- <ion-header>
 
  
     <div style="position: absolute; display: inline-block">
        
        <ion-buttons  style="font-size: 25px;  font-weight: 800; margin-top: -17px; margin-left: 75%;">
              <ion-icon name="ios-search" md="md-search">
                 
                 </ion-icon>
              </ion-buttons>


      <ion-buttons  style="font-size: 25px;  font-weight: 800; margin-top: -27px; margin-left: 270px;  ">
        <ion-icon  name="ios-cart-outline" md="md-cart">
            <ion-badge color="accent">5</ion-badge>
      </ion-icon>
        </ion-buttons>

       
       
       
      </div> 
   
      
 
</ion-header>  -->




  <app-forproductlist   *ngFor="let x of data"  [img]="x.images[0].src" [id]="x.id" [stock]="x.stock_status" [name]="x.name" [price]="x.price" [delprice]="x.regular_price">

  </app-forproductlist>
  
 