<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
        </ion-buttons>
   
          <ion-searchbar #myinput style="margin-top:5px" animated  (input)='search()'   [(ngModel)]="event"  >
  
          </ion-searchbar>
          <!-- <ion-icon name="search"  ></ion-icon> -->
       
  
        </ion-toolbar>
</ion-header>

<ion-content>
   
      <!-- <ion-button  *ngIf="output!='success'" style="text-align: center; margin-left: 33%; margin-top: 4%;" (click)="initial()" type="submit" >Show Results </ion-button> -->

      <app-mmproductlist [data]="searching">

      </app-mmproductlist>
      <div *ngIf="output=='failed'">
        <p style="text-align: center; margin-top: 100px; font-weight: 600; color: #bbc2c9;">Sorry!</p>
        <p style="text-align: center; font-weight: 600; color: #bbc2c9;"> No Search Results Found</p>
        <div style="margin-top: 20%;">
        <lottie-animation-view 
        [options]="lottieConfig"
        [width]="380"
        [height]="380"
        >
        <!-- (animCreated)="handleAnimation($event)" -->
        </lottie-animation-view>
        </div>
          </div>
</ion-content>
