@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Gilroy-Medium.ttf');
}

:root[mode=ios] body,
:root[mode=md] body{
  --ion-font-family:  'Gilroy'!important;
  font-family:  'Gilroy' !important;
}
:root.dark-theme {
  --toolbar-min-height: 80px;
  --footer-min-height: 56px;
  --ion-default-font: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
  --ion-background-color: var(--ion-color-medium);
  --fiv-text: var(--ion-color-light);
}
:root:not(.dark-theme) {
  --toolbar-min-height: 80px;
  --footer-min-height: 56px;
  --ion-default-font: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
  --ion-background-color: var(--ion-color-light);
  --fiv-text: var(--ion-color-dark);
}

.wrapper {
  width: 100%;
  min-height: 180px;
  padding: 16px;
  position: relative;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: var(--ion-color-primary);
}

.page-content {
  min-height: var(--example-min-height);
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
ion-item-divider {
  border: none;
}

ion-card {
  transition: box-shadow 140ms;
}

ion-card:hover {
  box-shadow: 0 0.35em 1.175em rgba(0, 0, 0, 0.1),
    0 0.175em 0.5em rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
markdown {
  pre[class*='language-'] {
    border-radius: 4px;
    background: var(--g-background-activated);

    * {
      color: var(--fiv-text);
    }
  }

  .token.keyword {
    color: var(--ion-color-secondary);
  }
  .token.punctuation {
    color: var(--fiv-text);
  }
  .token.string {
    color: var(--ion-color-tertiary);
  }
  .token.function {
    color: var(--ion-color-success);
  }
  .token.class-name {
    color: var(--ion-color-primary);
  }
}

// theme
:root {
  fiv-feature-discovery {
    --fiv-color-feature: var(--ion-color-primary);
  }
}

:root {
  --ion-color-myred: #ff3e6c;
  --ion-color-myred-rgb: 255,62,108;
  --ion-color-myred-contrast: #ffffff;
  --ion-color-myred-contrast-rgb: 255,255,255;
  --ion-color-myred-shade: #e0375f;
  --ion-color-myred-tint: #ff517b;
}

.ion-color-myred {
  --ion-color-base: var(--ion-color-myred);
  --ion-color-base-rgb: var(--ion-color-myred-rgb);
  --ion-color-contrast: var(--ion-color-myred-contrast);
  --ion-color-contrast-rgb: var(--ion-color-myred-contrast-rgb);
  --ion-color-shade: var(--ion-color-myred-shade);
  --ion-color-tint: var(--ion-color-myred-tint);
}

:root {
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

