<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
        </ion-buttons>
        <p style="padding-left: 10px; font-weight: 500;">CHECKOUT</p>
   
  </ion-toolbar>
  </ion-header>
  
  
   <ion-content>
    <div *ngIf="loaded=='0'">
        <ion-card style="height: 100px;">
            <ion-label class="ion-text-wrap">
                <ion-text >
                  <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
        
                </ion-text>
                </ion-label>
            <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
      
           </ion-card>
       <ion-item>
            <ion-thumbnail slot="start" style="height: 48px; width: 80px;">
              <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
      
            </ion-thumbnail>
          
            <ion-label class="ion-text-wrap">
              <ion-text >
                <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
      
              </ion-text>
          <div style="height: 3px;">
            <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
      
          </div>
                
            </ion-label>
          </ion-item>
          <br>
          <br>
          <ion-card>
            <ion-label class="ion-text-wrap">
                <ion-text >
                  <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
        
                </ion-text>
            <div style="height: 3px;">
              <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
        
            </div>
                  
              </ion-label>
<br>
              <ion-label class="ion-text-wrap">
                  <ion-text >
                    <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
          
                  </ion-text>
              <div style="height: 3px;">
                <ion-skeleton-text animated style="width: 100%; height:100%"></ion-skeleton-text>
          
              </div>
                    
                </ion-label>
            </ion-card>
      
         
     
    
      
     
     
    </div>
    <div *ngIf="loaded=='1'">
        <ion-card style="background-color: #fff;">
        <ion-item>
            <ion-label>
               
              <p style="font-size: 18px; color: #000; margin-bottom: 10px;">Deliver To</p>
             
              <p style="font-size: 16px; color: #000;">{{postdata.shipping.first_name.toUpperCase()}}, {{postdata.shipping.postcode}}</p>
              <p style="font-size: 14px; color: #000;">{{postdata.shipping.address_1}},{{postdata.shipping.city}}</p>
              <p style="font-size: 14px; color: #000;">{{postdata.shipping.state}},{{postdata.shipping.country}}</p>
            </ion-label>
          </ion-item>
        </ion-card>
        <ion-card style=" background-color: #fff;"  >
        <ion-list  lines="none" color="secondary">
          
            <ion-item *ngFor="let x of products" style="margin-bottom: 10px;" color="arvi" (click)="detail(x.id)" >
                <ion-thumbnail>
                    <img src="{{x.images[0].src}}">
                  </ion-thumbnail>
              <ion-label style="margin-left: 5%; font-size: 18px; font-weight: 500;">{{x.name}}     
     
     <p style="margin-top: 10px; font-size: 16px; font-weight: 600; color: #000;"> Rs- &nbsp;{{x.price}}</p>
              </ion-label>
              <br>
              <p > x {{getcount(x.id)}}</p>
            </ion-item>
         
          </ion-list>
        </ion-card>
        <ion-card >
            <ion-item-divider   style="width: 100%; ">
                <ion-label >
                Payment Method
                </ion-label>
              </ion-item-divider>
        
        <ion-list color="arvi" lines="full" class="ion-no-margin ion-no-padding" style="font-weight: 600;">
            <ion-radio-group>
                
                <ion-item>
                  <ion-label>Cash On Delivery</ion-label>
                  <ion-radio slot="start" color="primary"  [(ngModel)]="paymentmethod" value="Cash On Delivery"></ion-radio>
                </ion-item>
      
                <ion-item>
                  <ion-label>Online Payment</ion-label>
                  <ion-radio slot="start" color="primary" [(ngModel)]="paymentmethod" value="Online Payment" checked></ion-radio>
                </ion-item>
              </ion-radio-group>
        <!-- <ion-item>
            <ion-label position="floating" >Name</ion-label>
            <ion-input  [(ngModel)]="useraddress.first_name" type="text" ></ion-input>
        </ion-item>
        
        <ion-item>
           <ion-label position="floating">Address</ion-label>
            <ion-input  [(ngModel)]="useraddress.address_1" type="text" required></ion-input>
        </ion-item> -->
        
        
        </ion-list>
        <br>
        
        </ion-card>

            
         


  
</div>
  
  
  </ion-content>
 
  <ion-footer color="white"  >
      <!-- <div >
          <p style=" display: inline-block; width: 30%;">Total price:{{price}}</p>
          <ion-button  style="margin-left: 40%;"  (click)="createorder()">Placeorder</ion-button>
        </div> -->
        <ion-grid>
          <ion-row>
            <ion-col col-6 >
                 
                      <ion-button     fill="outline"  style="font-size: 14px; font-weight:500;letter-spacing: 1px;"  color="myred" type="submit"   class="ion-no-margin"> Total Price  : &nbsp;<b style="font-size: 17px; font-weight:700;">{{price}}</b></ion-button>
               </ion-col> 
               <ion-col col-6 >
                  <ion-button      style="font-size: 14px; font-weight:600;margin-left: 17%;letter-spacing: 2px;"  color="myred"   *ngIf="loaded=='1'"   type="submit" (click)="createorder()"  class="ion-no-margin"> PLACE  ORDER</ion-button>
              </ion-col>
              </ion-row>
              </ion-grid>
  </ion-footer>
 
 

 
 
 
 
  <!-- <ion-card *ngFor="let x of products">
    <img src="{{x.images[0].src}}" style="float: right; width: 35%; padding-top: 4%; margin-right: 6%; " alt="">
    <div style="margin-left: 4%;">
      <p text-wrap style="color:black ;  font-size: 20px; font-weight: 600; padding:0%;"> {{x.name}}</p>
      <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700; margin-top: -10px; margin-left:0px; color:black; "> Rs-{{x.price}} <del  style="font-size:13px;  color:rgb(145, 136, 125);">{{x.regular_price}}</del></p>
     
          <ion-button style="margin-top: -10px;" size="small">Qty:{{cart.quantity}} </ion-button>
  
         
  <p text-wrap>Delivery By Mon Dec 08</p>
  
  
    </div>
    
  </ion-card> -->
 
 
