:host {
  width: 50%;
  height: 100%;
  display: inline-block;
  position: relative;
//   --fiv-color-icon: var(--ion-color-primary);
//  ion-label {
//   color: var(--ion-color-primary);
// }
  fiv-ripple {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  fiv-icon {
    display: block;
    order: -1;
    --fiv-dot-top: -6px;
    --fiv-dot-right: -6px;
  }

  ion-label {
    order: 0;
  }

  .tab.active {
    --fiv-color-icon: var(--ion-color-danger);
    ion-label {
      color: var(--ion-color-primary);
    }
  }
}

:host(.label-hide) {
  ion-label {
    display: none;
  }
}

:host(.label-active-only) {
  fiv-ripple:not(.active) {
    ion-label {
      display: none;
    }
  }
}
