<fiv-ripple (fivClick)="onClick()" class="tab" [ngClass]="{'active': active}">
  <fiv-icon [(indicatorValue)]="badge" [name]="icon"></fiv-icon>
  <ion-label style="font-size: 11px; font-weight: 700;">{{name}}</ion-label>
</fiv-ripple>