<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button  text="" icon="arrow-round-back" color="dark"></ion-back-button>
        </ion-buttons>
    <ion-title>share</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
        <ion-row >
          <ion-col size="2" style="font-size: 10px;text-align: center;" >
            
           
                  <ion-icon  style="border-radius: 50%; border: solid 1px #000; padding: 7px;" name="md-arrow-round-down"></ion-icon>
               <p style="font-weight: 400;"> Download</p>
          </ion-col>
          <ion-col size="2"  style="font-size: 10px;text-align: center;"> 
              <ion-icon  style="border-radius: 50%; border: solid 1px #000; padding: 7px;" name="logo-facebook"></ion-icon>
             <p style=" font-weight: 400;">Facebook</p> 
          </ion-col>
          <ion-col size="2" style="font-size: 10px;text-align: center;">
              <ion-icon  style="border-radius: 50%; border: solid 1px #000; padding: 7px;" name="md-share"></ion-icon>
                <p style=" font-weight: 400;"> Others</p>
          </ion-col>
          <ion-col size="6">
            <div  style="background-color: #4fca5d;  padding: 10px; border-radius: 5em / 5em; color: #FFF;" (click)="share()">
              <ion-icon  style=" margin-left: 15px; display: inline-block; font-size: 25px;" name="logo-whatsapp"></ion-icon>
           <span style=" margin-left: 10px; font-size: 16px; font-weight: 400; position: absolute; margin-top: 5px; "> Share Now</span>
            </div>
          </ion-col>
          
        </ion-row>
        </ion-grid>
      </ion-card>
</ion-content>
