<ion-header>
  <ion-toolbar>
    <ion-title>mybookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let x of data; let i=index">
    <div [routerLink]="['/orderdetails/'+x.id]"  *ngIf="i<2" > 
      <div padding>

          <ion-card class="flex-scroll" style="padding: 0px 10px 0px  20px; margin-left: 0px; margin-top: 0px; z-index: 999;" color="newblue"> 
              <img style="margin-top:17px; height:71px; width: 20px; " slot="start" src="assets/line2.png">
          <ion-card-header style=" width: 150px;  ">
          
          <ion-card-subtitle  *ngIf="x" style="font-size: 14px; font-weight:900; " >{{x.fromcity}}</ion-card-subtitle>
          <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{x.fromstate}}</p>
          <br>
          <ion-card-subtitle *ngIf="x"   style="font-size: 14px; font-weight:900; " >{{x.tocity}}</ion-card-subtitle>
          <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{x.tostate}}</p>
          
          </ion-card-header>  
          <div  style="float: left; height:70px;  width: 300px; margin-top:20px; margin-left:50px;    " lines="none">
          <ion-card-subtitle>&nbsp;</ion-card-subtitle>
          
          <span style="font-size: 40px; font-weight:900;">
              <ion-icon  name="home"></ion-icon>
          </span>
          
          <span style="font-weight: 800; font-size:14px;">
              Home Shifting
          </span>  
          
          </div>
          </ion-card ></div>
          <ion-card  color="primary" style="margin-top:-60px;"  >
    
              <br>
              <ion-item  lines="none" >
                  <ion-label style="font-size: 12px; font-weight: 500">{{x.status}} </ion-label>
                  <ion-note slot="end"  style="font-size: 12px; font-weight: 500">{{x.timestamp | date:'mediumDate' }}</ion-note>
        
                </ion-item>
               </ion-card>
            </div>
  </ng-container>


  
</ion-content>
