    <ion-header>
        <ion-toolbar  color="dark">
          <ion-title>House </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content color="dark" >

  <div  *ngIf="loaded==1">
      <ion-card-header color="dark" >

          <ion-card-title style="font-size: 30px; font-weight: 700; color:white;"  libParticleEffectButton [pColor]="'#ffffff'" [pHidden]="hidden"  >₹ {{price}}</ion-card-title>
          <ion-card-subtitle>Estimation</ion-card-subtitle>
  
        </ion-card-header>
    
      <div style="background-color: rgb(253, 253, 253); border-radius: 40px 40px 0px  0px; height: 100%; padding-top: 20px; ">
    <ng-container *ngIf="global.dbloaded==1">
        <div  padding>
  
        <ion-card class="flex-scroll" style="padding: 0px 10px 0px  20px; margin-left: 0px;" color="newblue"> 
            <img style="margin-top:17px; height:71px; width: 20px; " slot="start" src="assets/line2.png">
        <ion-card-header style=" width: 150px;  ">
        
        <ion-card-subtitle  *ngIf="this.global.from.city" style="font-size: 14px; font-weight:900; " >{{this.global.from.city}}</ion-card-subtitle>
        <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{this.global.from.state}}</p>
        <br>
        <ion-card-subtitle *ngIf="this.global.from.city"   style="font-size: 14px; font-weight:900; " >{{this.global.to.city}}</ion-card-subtitle>
        <p  text-wrap style=" font-size: 10px; font-weight:500; margin-top: -5px;"> {{this.global.to.state}}</p>
        
        </ion-card-header>  
        <div  style="float: left; height:70px;  width: 300px; margin-top:20px; margin-left:50px;    " lines="none">
        <ion-card-subtitle>&nbsp;total:</ion-card-subtitle>
        
        <span style="font-size: 40px; font-weight:900;">
             {{(km.value/1000).toFixed()}}
        </span>
        
        <span style="font-weight: 800; font-size:14px;">
            Kilometers
        </span>  
        
        </div>
        </ion-card ></div>
        <ion-card padding color="primary" style="margin-top:0px;" >
          
          
            <ion-item lines="none" color="transparent" >
                <ion-label style="width:50%"><p style="font-size: 17px; font-weight:700; color: white;"> Enable sharing </p><br> <p text-wrap style="font-size: 13px; font-weight:700; color: white;">Share your shifting with others and get discount</p></ion-label>
  
               <ion-toggle style="zoom:1.4;" (ionChange)="enableshaing()" color="dark" [ngClass]="{'tooglehidded': shareloading}"  [(ngModel)]="sharing"></ion-toggle>
                <ion-spinner color="dark"  style="zoom:1.4;" *ngIf="shareloading"></ion-spinner>
              </ion-item>
          </ion-card>
          <ion-card *ngIf="!couponapplied"><ion-input [(ngModel)]="formdata.coupon" placeholder="Enter Promo code" style="width:67%;  font-size:16px; font-weight: 900" padding>  

            </ion-input> 
            <ion-button [disabled]="buttondis" slot="end" small  color="success" style="width:33%; float:right; margin-top:1px; font-size:16px; font-weight: 900; zoom:1.09;" type="submit"  (click)="applyoffer()"  class="ion-no-margin">Apply  &nbsp; <ion-spinner *ngIf="promospin"></ion-spinner> </ion-button>
            </ion-card> 

          <ion-card *ngIf="couponapplied">
            <ion-input  [(ngModel)]="formdata.coupon"  disabled placeholder="" style="width:52%;  font-size:16px; font-weight: 900" padding>  

          </ion-input> 
            <ion-button [disabled]="buttondis"  slot="end" small  color="success" style="width:47%; float:right; margin-top:1px; font-size:16px; font-weight: 900; zoom:1.09;" type="submit"  (click)="getestimate()"  class="ion-no-margin">Remove Coupon &nbsp; <ion-spinner *ngIf="promospin"></ion-spinner> </ion-button>
          <!-- <p style="position: absolute; top:0px;" >Offer applied</p> -->
          <div color="transparent" style="height: 40px;"  padding>

          <ion-card-subtitle > Offer applied (You are saving ₹  {{coupondata.discount}})</ion-card-subtitle>

          </div> 
          </ion-card> 

        <ion-card style="margin-top:0px; background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQRZM-DQGWUsxNH1gkhcrdKCkN5nq4MRiQIVhKsypgcI366KHrIg&s);   background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
          
          
            <ion-item lines="none" color="transparent">
                <ion-thumbnail  style="zoom:0.6;" slot="start">
                    <img src="assets/calender.png">
                  </ion-thumbnail>
              <ion-label style="font-size: 14px; font-weight:700; color: white;"  text-wrap>{{global.mappageform.pickupdate | date :'longDate'}}<br>
                  <p style="font-size: 12px; font-weight:600; color: white;"  text-wrap>Pickupdate</p></ion-label>
           
            </ion-item>
          
            <ion-item lines="none" color="transparent">
                <ion-thumbnail  style="zoom:0.6;" slot="start">
                  <img src="assets/calender.png">
                </ion-thumbnail>
                  <ion-label style="font-size: 14px; font-weight:700; color: white;"  text-wrap>{{global.mappageform.pickupappointmentdate | date :'longDate'}}<br>
                    <p style="font-size: 12px; font-weight:600; color: white;"  text-wrap>Appointment date</p></ion-label>
           
            </ion-item>
  <!--        
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content> -->
          </ion-card>
          
          
      <!-- <ion-card >
          <ion-card-header> 
            <ion-card-title>From</ion-card-title>
  
            <ion-card-subtitle text-wrap>{{global.from.address}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
              <ion-list>
                  <ion-item>
                    <ion-label text-wrap>Pickup date</ion-label>
                    <ion-note slot="end">{{global.mappageform.pickupdate | date :'longDate'}}</ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label text-wrap>Appointment  date</ion-label>
                    <ion-note slot="end">{{global.mappageform.pickupappointmentdate | date :'longDate'}}</ion-note>
                  </ion-item>
                  <ion-item>
                    <ion-label text-wrap>Floor</ion-label>
                    <ion-note  slot="end">{{global.mappageform.pickupfloor}}</ion-note>
                  </ion-item>
                  <ion-item >
                    <ion-label text-wrap>Service elevetor</ion-label>
                    <ion-note slot="end">{{global.mappageform.pickupelevator}}</ion-note>
                  </ion-item>
              
                </ion-list>
          </ion-card-content>
        </ion-card> -->
      <!-- <ion-card>
          <ion-card-header> 
            <ion-card-title>To</ion-card-title>
  
            <ion-card-subtitle text-wrap>{{global.to.address}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
              <ion-list>
                  <ion-item>
                    <ion-label text-wrap>Floor</ion-label>
                    <ion-note  slot="end">2nd floor</ion-note>
                  </ion-item>
                  <ion-item >
                    <ion-label text-wrap>Service elevetor</ion-label>
                    <ion-note slot="end">no</ion-note>
                  </ion-item>
              
                </ion-list>
          </ion-card-content>
        </ion-card> -->
      <!-- <ion-card>
  
        <ion-list>
            <ion-item>
              <ion-label>Sharing </ion-label>
              <ion-checkbox [(ngModel)]="sharing" color="dark"  slot="end" ></ion-checkbox>
            </ion-item>
          </ion-list>
                </ion-card> -->
  

  <!-- <ion-card> 
    <ion-card-header>
        <ion-card-subtitle>Estimation</ion-card-subtitle>
        <ion-card-title>500 kms to be traveled</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="font-weight: 600; font-size:17px;">The estimate price is ₹ 6400</p>
        <p style="font-weight: 400; font-size:13px;">Prices are only estimation.After visting home prices may varies</p>
      </ion-card-content>
    </ion-card> -->
<!--     
    <ion-card ><ion-input placeholder="Enter Promo code" style="width:67%;  font-size:16px; font-weight: 900" padding>  

      
    <ion-card>
       
      
        <ion-card-content>
        <p style="font-weight: 500; font-size: 12px"> * Warning message 1</p> 
        <p style="font-weight: 500; font-size: 12px"> * Warning message 2</p> 
        <p style="font-weight: 500; font-size: 12px"> * Warning message 3</p> 
       
        
       
        </ion-card-content>
      </ion-card>


    </ion-input> 
    <ion-button  slot="end" small  color="success" style="width:33%; float:right; margin-top:2px; font-size:16px; font-weight: 900; zoom:1.09;" type="submit"  (click)="promospin = !promospin"  class="ion-no-margin">Apply  &nbsp; <ion-spinner *ngIf="promospin"></ion-spinner>
    </ion-button>
    </ion-card>  -->

        <ion-card  color="newblue"> 

    <fiv-expandable #ex>
        <fiv-ripple header (fivClick)="ex.toggle()">
          <!-- <ion-item [lines]="'inset'">
            <ion-label>Expandable Header</ion-label>
            <fiv-expandable-indicator></fiv-expandable-indicator>
          </ion-item> -->
          <ion-list-header color="newblue" padding>
              <ion-label>Items ({{count}})</ion-label>
              <fiv-expandable-indicator></fiv-expandable-indicator>
              
            </ion-list-header>
        </fiv-ripple>
        <div content>
          <!-- <span class="content" [fivCenter]>Expandable Content (height depends on contents size)</span> -->
          <ion-list >
           
              <ng-container *ngFor="let x of global.items">
                 
            <ion-item  color="newblue" lines="none" *ngIf="x.count>0" >
                    <ion-thumbnail style="zoom:0.5;"   slot="start"> 
    
                  <img src="{{x.image}}">
                </ion-thumbnail>         
                   <ion-label>
                  <h2 style="font-weight: 700;">{{x.name}}</h2>
                </ion-label>
                <ion-note style="font-weight: 700;" slot="end">x {{x.count}}</ion-note>
              </ion-item>
            </ng-container>
    
          </ion-list>
        </div>
      </fiv-expandable>

       
        </ion-card>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </ng-container>

  </div>
  </div>
</ion-content>
<ion-footer>
    <div class="ion-padding">
      <ion-button *ngIf="!estimated" expand="block" color="dark" type="submit"  (click)="getestimate()"  class="ion-no-margin">Get estimate</ion-button>
      <ion-button *ngIf="estimated" expand="block" color="dark" type="submit"  (click)="presentAlertConfirm()"  class="ion-no-margin">Book now</ion-button>
    </div>
   
</ion-footer>