.flex-scroll {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    ion-card {
      flex: 1 0 auto;
    }
  }
  fiv-bottom-sheet-content {
    --fiv-border-radius: 12px;
    --fiv-padding: 20px;
  }
  .flexo {
    display: flex;
    .flex {
      flex: 1 0 auto;
    }
  }

  
  div[content] {
    // min-height: 200px;
    // background: var(--ion-color-light);
    position: relative;
  }
  
//   ion-item {
//     border: 1px solid var(--ion-color-light);
//     --inner-border-width: 0px;
//   }
  
//   fiv-ripple {
//     margin-top: 16px;
//   }
  
  .content {
  //  color: var(--ion-color-primary);
  }
  
  .tooglehidded{
display: none;
  }