<!-- <ion-card class="categorytwo"  (click)="subcategories()"
style="margin-bottom: 0%;">
<img src="https://assets.myntassets.com/w_245,c_limit,fl_progressive,dpr_2.0/assets/images/retaillabs/2019/12/12/f675f459-4c51-431a-8425-a07ceabab4841576144758550-Mia-by-Tanishq_Shaze_Prita-_AHPMB_BF2.jpg" alt="">
 <p
  style="position: absolute; margin-top: 75%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">
  {{x.nameone}}</p> 
</ion-card> -->



<!-- <ion-grid>
  <ion-row  *ngFor="let x of category"  >
    <ion-col class="categorytwo" style=" background-size: cover; height: 100px; " [ngStyle]="{ 'background-image': 'url(' + x.imagetwo + ')'} " >
     
    </ion-col>
    
  </ion-row>
  </ion-grid> -->
<div style="background-color: white;">

  <ion-item-divider style="margin-top: 10px; background-color: white;">
    <ion-label style="font-weight: 800; font-size: 14px;">Categories</ion-label>
  </ion-item-divider>
  <app-mmcategory     *ngFor="let x of data" [img]="x.image.src" [id]="x.id" [name]="x.name">

  </app-mmcategory>  
</div>

  